[2013-05-21 13:59] Jaspur opened #2 "Can't use function return value in write context"
What does it mean?

[code]

[2013-05-21 14:59] #2 closed, assigned to fre5h

[2013-08-05 16:30] reypm opened #3 "[Semantical Error] Couldn't find constant BankBundle\DBAL\Types\BankAccountType, property BankBundle\Entity\Account::$account_type"
I follow every step on installation guide but when I try to execute the code I get this error:

[Semantical Error] Couldn't find constant BankBundle\DBAL\Types\BankAccountType, property BankBundle\Entity\Account::$account_type

Why?

[2013-08-05 18:12] #3 closed, assigned to fre5h

[2013-08-13 17:33] reypm opened #4 "Error while trying to add new values to database"
I'm using your bundle in one of mines. So I do this in ProductBundle\Entity:

[code]

This is the DBAL FieldType

[code]

And this is the function that handles the createAction():

[code]

//            print_r($_POST);exit;

[code]

This is the values for form submission:

[code]

I'm getting this error:

[code]

What's wrong?

[2013-08-13 18:13] #4 closed, assigned to fre5h

[2013-12-17 19:41] sirian opened #7 "[TypeGuesser] Conflict with non-enum custom types"
Type guesser doesn't check instance of AbstractEnumType. So if you have different DBAL type, then type guesser will recognize it as 'choice' field type and try to call  `$enumTypeFullClassName::getChoices()`

[2013-12-17 19:48] sirian opened #8 "[NFR] Add SET support"
Please add SETs support.

Best way will be add 'multiple' option. And if multiple then getSqlDeclaration should return SET instead of ENUM. But there is one problem - convertToPHPValue doesn't know about options -> I think it's impossible to return correct value (scalar value or array).

[2013-12-17 19:54] sirian opened #9 "[NFR] Nullable support"
Please add support for `nullable` option

[2013-12-17 21:58] #8 closed, assigned to fre5h

[2014-01-09 10:36] vansante opened #10 "Make Doctrine add the comment to the custom types"
Currently the AbstractEnumType class does not override the requiresSQLCommentHint() function in the Doctrine\DBAL\Types\Type class. The default return value is FALSE causing the type comments not to be inserted into the database.

Simply overriding this function and returning TRUE should solve this.

[2014-01-10 07:23] #10 closed, assigned to fre5h

[2014-01-11 10:28] #9 closed, assigned to fre5h

[2014-01-11 11:15] #7 closed, assigned to fre5h

[2014-01-22 11:25] bendavies opened #11 "Support SQLite"
Hi,

I know that SQLite doesn't natively support ENUM's, but can `AbstractEnumType::getSqlDeclaration` be made to support enums? Maybe just define the field as a string type.

This would be for functional testing purposes.

Thanks!

[2014-01-27 13:36] #11 closed, assigned to fre5h

[2014-07-04 08:57] AurL-Anto opened #15 "Inject security.context in enum"
Hi,

I have some enum types that need the security context to dynamically load the choices (i.e. a user can have each language only once). I figured the best way to inject it was to declare my enum as a service, and put the service name in my config.yml instead of the class name, but it seems to expect only a class name. Plus, I cannot override the __construct method, since the Doctrine Type preve

[2014-07-18 13:49] #15 closed, assigned to fre5h

[2014-07-29 12:53] reypm opened #16 "Remove choices before render the widget"
Hi, I have this type defined:

[code]

Then in my form type I have a field like this:

[code]

In one view I need to render just ROLE_ADMIN and ROLE_OPERADOR but in another view I need to render all of them, how I do that?

[2014-07-29 14:24] #16 closed, assigned to fre5h

[2014-08-07 03:54] reypm opened #17 "It's possible to add support for PostgreSQL ENUM types?"
Even if bundle docs said it's only for MySQL I'm need to ask, it's possible to use in PostgreSQL? It's possible to use in schemas? Any chance to get this for PostgreSQL?

[2014-09-05 09:50] #17 closed, assigned to fre5h

[2015-01-21 22:33] bigfoot90 opened #20 "add static methods"
Some times I need to print a string rapresentation of the value in php.
So it would be helpful to have static methods like
[code]
And another method to check if a value is a valid choice
[code]

Can I submit a **PR**?

[2015-01-21 23:03] bigfoot90 commented on #20
Sorry, I've realized now that methods ```getReadableValue``` and ```isValueExist```alredy exists.

[2015-01-22 07:14] fre5h commented on #20
@bigfoot90 Yes, I think I will add this to README. Thanks

[2015-02-02 20:38] #20 closed

[2015-02-04 09:57] bigfoot90 opened #22 "Add twig shorthand for using enum constants"
I've a dropdown list with statuses from enum.

Currently I have this, but it is difficult to read:
[code]

[2015-02-04 10:02] fre5h commented on #22
So what is the question? :)

[2015-02-04 12:17] bigfoot90 commented on #22
Provide a method to replace ```constant```, for example:

[code]

The ```enum``` function should return an instance of
```php```
interface PrintableEnum
{
    function getClass();
    function getConstant();
    function getValue();
    function __toString();
}
[code]

[2015-02-04 12:28] fre5h commented on #22
@bigfoot90 Ok, you can send pull-request, but into `develop` branch

[2015-02-04 12:35] fre5h commented on #22
But why do you create this dropdown in template? You should create custom form type for it and create array of values in PHP, and then in TWIG in the loop only render them.

[2015-02-04 12:37] fre5h commented on #22
Or if it is not a form element, just part of your markup, then you can create a TWIG macros or Symfony widget, but anyway prepare data on PHP side, not in the template

[2015-02-04 13:06] bigfoot90 commented on #22
It is not a form element.
I'm making an application with javascript templates, done this only to get things work quickly (temporarily).
I'm now refacoring templates and implementing REST controllers, so the type will be returned as REST response.

In any case I think this method can be useful for other persons too.

[2015-02-15 20:05] mirzap commented on #17
what about alternative method, using check constraint?

https://wiki.postgresql.org/wiki/Enum

In laravel is implemented in similar way:

https://github.com/laravel/framework/blob/5.0/src/Illuminate/Database/Schema/Grammars/PostgresGrammar.php#L385

[2015-02-16 09:47] fre5h commented on #17
@mirzap Thanks, I will implement it soon

[2015-03-01 18:32] KonstantinKuklin opened #24 "Could not load type"
Hi, I got the problem described in subject, I use symfony 2.6.4 with DoctrineEnumBundle.

My environment are:
[code]

[code]

config.yml was configured:
[code]
Entity which use MyType:
[code]
MyType content:
[code]
Could you help me to understand what I do wrong?

[2015-03-01 18:38] fre5h commented on #24
@KonstantinKuklin Did you add bundle in AppKernel?

[2015-03-01 18:39] KonstantinKuklin commented on #24
@fre5h sure

[2015-03-01 18:42] fre5h commented on #24
I see you got this error in `FormBuilder` can you share the code of your form?

[2015-03-01 18:45] KonstantinKuklin commented on #24
I use EasyAdminBundle to generate admin pages, it generate forms in real time
I showed how it try to generate form the above

[2015-03-01 18:56] fre5h commented on #24
It is not a problem of DoctrineEnumBundle, it is a problem of EasyAdminBundle. I guess it takes field type from annotations, as it is `MyType` it doesn't find such registered form type and fails.
As I described here https://github.com/fre5h/DoctrineEnumBundle#building-the-form You can not specify field type in form, then it will be guessed. Or you can set it as `choice`. Maybe there you can tweak

[2015-03-01 19:10] KonstantinKuklin commented on #24
thank you very much, you were right!

[2015-03-01 19:10] #24 closed

[2015-03-17 23:07] bsaverino opened #25 "Enums wont reload after updating"
I have run into an issue where I went back and needed to modify a few of the constant values and add a few more.  However I was getting an error after the changes occurred.  Error read `Uncaught PHP Exception Symfony\Component\Routing\Exception\RouteNotFoundException: "Unable to generate a URL for the named route "" as such route does not exist." at ..\appDevUrlGenerator.php line 134`
I couldn't f

[2015-03-18 07:42] fre5h commented on #25
@bsaverino So you think this issue is related to this bundle? This issue happened in routing, so maybe problem is there. Anyway when you add new values to ENUM field you must update migration as it is described in the bottom of documentation. What is the pattern of the route which threw the exception.

[2015-03-18 14:45] bsaverino commented on #25
Ah, I see.  Sorry it was not overly obvious to look in a section that I didn't think applied to me.  However that section does address the issue I was having.  I am not saying at all that it is the fault of your bundle just more or less making you aware of it incase you wanted to add a "Making Changes" section.  I found your bundle to be very useful and I appreciate your time.  I figure it doesn't

[2015-03-18 14:52] fre5h commented on #25
OK. Looks like simple cache problem. I don't see any relations to ENUMs.

[2015-03-18 15:27] bsaverino commented on #25
I wouldn't chalk it up to a caching issue.  I run `php app/console cache:clear`  pretty frequently as well as other precautions.  This problem also existed over the course of weeks but it was in a branch that wasn't being worked on at the time and was labeled as a bug.  I think that really helps clarify a non caching issue.

[2015-03-18 15:36] fre5h commented on #25
If this issue is gone for you then OK. Until I can't reproduce it I can't realize the problem.

[2015-03-18 15:37] #25 closed

[2015-06-02 11:19] jcornide opened #27 "schema:update doesn't work after database creation"
Hi,
I'm using the bundle and it's great, but I think I found a problem.
If I run doctrine:schema:update I get this error:
[Doctrine\DBAL\DBALException]
  Unknown column type "VehicleStateType" requested. Any Doctrine type that you use has to be registered with \Doctrine\DBAL\Types\Type::addType(). You can get a list of all the known types with \Doct
  rine\DBAL\Types\Type::getTypesMap(). If this e

[2015-06-02 11:34] fre5h commented on #27
Hi. Did you register your new data type like in example?

[code]

[2015-06-02 11:38] jcornide commented on #27
Hi,

Yes I did:
[code]

[2015-06-02 11:40] fre5h commented on #27
please show me annotations to the field of your entity which has `vehiclestate` type

[2015-06-02 11:40] fre5h commented on #27
and also what version of Symfony do you use?

[2015-06-02 11:44] jcornide commented on #27
Thanks for your time :)
[code]

[2015-06-02 11:46] fre5h commented on #27
It didn't work from the beginnings?
Or only after some change? If yes then what did you change?

[2015-06-02 11:54] fre5h commented on #27
@jcornide
I found the cause.
As documentation says.

[code]

And then you should use the type with exact name `BasketballPositionType`

[code]

In your example you have a type with name `vehiclestate` but error is for type with name `VehicleStateType`. As you see they are different. Looks like you created at first type `VehicleStateType` then created a schema, then change name to `vehiclestate` an

[2015-06-02 11:55] fre5h commented on #27
Is it helpful?

[2015-06-02 13:07] jcornide commented on #27
Hi @fre5h, yes! it worked.

Thanks a lot

[2015-06-02 13:07] #27 closed

[2015-06-09 16:08] drAlberT opened #28 "[Question] SonataAdmin requires extended ->add()"
Hello,
  I have implemented a new type and it works perfectly but in the form generated by the entity admin of  Sonata Admin Bundle I have to use the extended `->add()` form to have all working otherwise it did not recognise the field type as a choice, if I force the second parameter as `choice` the select is empty .. specifying every parameter makes everything work as a charm

[code]

Am I wrong

[2015-06-09 16:29] fre5h commented on #28
Try just `->add('lv_mv')` there is a type guesser, it works for me in my projects

[2015-06-09 16:38] drAlberT commented on #28
???

As I said it seems the guesser did not work for me ..  I **have** to use the extended format of add() otherwise it did not work :(

May be something related to sonata/symfony versions?

[2015-06-09 16:42] fre5h commented on #28
Maybe. I didn't check it with symfony 2.7 and the latest sonata. I will invesigate this case

[2015-06-09 16:43] drAlberT commented on #28
Thank you so much .. meanwhile I'll leave the extended format :)

[2015-06-10 20:39] fre5h commented on #28
@drAlberT I have updated one of my projects to the version of Symfony 2.7 and your version of Sonata. Then I checked my ENUM fields in Sonata admin and they still work.

Did you read upgrade guide to Symfony 2.7. There is a change:
https://github.com/symfony/symfony/blob/2.7/UPGRADE-2.7.md

Before:

[code]

   After:

[code]

But this old version of `choice` still works, it is just depracated and

[2015-06-11 09:03] drAlberT commented on #28
Hi @fre5h .. thanks for your time ..

I'm doing some tests and I stumbled again a strange behaviour .. I think I'm doing something stupid, but I can't argue what .. so please be patient :)

**I intentionally introduced a parse error in the `EnumTypeGuesser`** .. but in the Edit action of sonata admin I have **no errors** .. so my guess is that the `EnumTypeGuesser` is not being invoked at all ...

[2015-06-11 09:08] drAlberT commented on #28
OK solved

        // This is not one of the registered ENUM types
        if (!isset($this->registeredEnumTypes[$fieldType])) {
            return null;

I was using a "type name" different from the class name .. but the check impose that they are identical ..

Please add a caveat on the doc :)

Thank you for your time

[2015-06-11 09:16] #28 closed

[2015-10-06 19:42] leobelen opened #29 "Unknown database type enum requested after moving from PG to MySQL"
Hi, I was trying to move from Postgresql to Mysql and I found a weird thing: I can run the doctrine:schema:update --force command but only on a empty database. Once that succeeds, I cannot longer run it, failing with [Doctrine\DBAL\DBALException]
  Unknown database type enum requested, Doctrine\DBAL\Platforms\MySqlPlatform
   may not support it.

Is there anything I can do to solve it?
Thanks in a

[2015-10-06 20:27] fre5h commented on #29
What version of MySQL do you use?

[2015-10-06 22:12] leobelen commented on #29
mysql  Ver 15.1 Distrib 10.0.21-MariaDB, for osx10.11 (x86_64) using readline 5.1....

[2015-10-07 12:41] fre5h commented on #29
I didn't test it with MariaDB (As I know it is compatible with MySQL). Your version of MariaDB 10.0.21 is compatible with MySQL 5.6 which I have already used and haven't any issues.
Looks like it is a bug in Doctrine.
To enable the bundle two things should be done.
In the config you should have
[code]
And comment to the related column in some table of your database should be `(DC2Type:BasketballPo

[2015-10-07 15:28] leobelen commented on #29
Fantastic, I was missing the mapping_types then? because now it does not fail when updating... but the strange thing is that it is not required on PG....

[2015-10-07 19:14] fre5h commented on #29
PostgreSQL doesn't have built-in ENUM type as you can see here https://github.com/fre5h/DoctrineEnumBundle/blob/master/DBAL/Types/AbstractEnumType.php#L75 it is simple VARCHAR with additional CHECK constraint. That's why it worked for you without `mapping_types`. But ENUM type is built-in in MySQL and Doctrine doesn't support it out of box, that's why we have to map it as string.
So as I understoo

[2015-10-07 19:14] #29 closed

[2015-10-30 08:44] Ddam opened #31 "Bug on migration occurred after updating a field with an enum for type PostgreSQL 9.4"
Hi, I use this bundle and I think I found a bug

I use symfony 2.7 with DoctrineEnumBundle.
When modifying an existing field in a table to add an enum type, migration that is produced  for PostgreSQL 9.4 is invalid.

Migration obtained looks like this:

[code]

But this SQL statement is invalid, it returns the following error after starting the migration

[code]

I think this is a bug.
Thank you.

[2015-10-30 08:47] fre5h commented on #31
OK. I'll check it later. Thanks

[2015-11-16 17:59] luispabon opened #33 "Schema update, postgres and enum"
Currently, when doing a schema update and modifying a field from something to one of our enum types, the resulting sql is like:

[code]

The correct syntax is:
[code]

Creating the schema from scratch works with the current syntax however.

Maybe you can refactor so that it a) creates the column with a string type and b) issues the correct alter table command?

[2015-11-16 18:10] fre5h commented on #33
Doctrine creates SQL definitions field by field. So bundle is responsible only for the part ` CHECK(column_in_question IN  table_name(  ('foo', 'bar', 'foobar'))`. As far as I know it is impossible to move out of the scope of field and change other parts on SQL statement. I wish Doctrine would have a feature to make this possible (some event or cutomization) but right now it doesn't have. So updat

[2015-11-17 09:26] luispabon commented on #33
Understood :+1: thank you very much.

[2015-11-17 09:26] #33 closed

[2015-11-18 07:26] Bukashk0zzz opened #34 "Symfony 3 support"
Hi,

I try today update my project to symfony 3 beta release and only one package that still not support it are DoctrineEnumBundle

I think migrate to symfony 3 your package not a problem. There are no deprecation in it.
Also in doc "Symfony 2.5 and later" you need to change "Symfony 2.5 and later, but < Symfony 3.0".

If you planed migrate to new version please make new branch or make tag with ol

[2015-11-18 07:39] fre5h commented on #34
Surely I plan to update bundle to Symfony 3.0. Right now I am using it with Symfony 2.8 beta and have no problems. As soon as stable Symfony 3.0 will be released I will update bundle and create new branch or tag. It should be till the end of this month.

[2015-11-28 17:54] fre5h commented on #22
Implemented https://github.com/fre5h/DoctrineEnumBundle#enum-constants-in-templates

[2015-11-28 17:54] #22 closed

[2015-12-01 11:50] luispabon commented on #34
Symfony 3 was released yesterday :+1:

[2015-12-01 11:51] fre5h commented on #34
I know that. Just don't have a free time right now. Need few days to complete it.

[2015-12-01 11:52] luispabon commented on #34
Is there a lot to do? Perhaps I can help.

[2015-12-01 11:54] fre5h commented on #34
I don't know exactly. I use this bundle with Symfony 2.8 and don't have any problem. In the fact that Symfony 2.8 has same API as Symfony 3.0 I don't really know what could broke.
Maybe it just needed to update symfony version in composer.json.

[2015-12-01 11:54] luispabon commented on #34
I'm just trying this on my own fork, will report back :+1:

[2015-12-01 11:56] luispabon commented on #34
Tests highlight a number of issues, just running through them

[2015-12-01 12:10] fre5h commented on #34
If you fix it faster than me, then make PR into this branch
https://github.com/fre5h/DoctrineEnumBundle/tree/feature-symfony-3.0

[2015-12-01 12:21] luispabon commented on #34
:+1:

[2015-12-01 12:21] luispabon commented on #34
I'm down to the last test error

[2015-12-01 13:56] #34 closed

[2015-12-01 13:59] fre5h commented on #34
Use `php composer.phar require fresh/doctrine-enum-bundle='v4.0'` for Symfony 3.0

[2015-12-18 19:47] jonathanbull opened #38 "Doctrine not recognising enum"
Hi,

I've set up by enum in Symfony 3.0 using the instructions in the README, but when I run `bin/console doctrine:schema:update`, Doctrine just wants to drop my column:

    /*
     * @ORM\Column(name="status", type="StatusType")
     * @DoctrineAssert\Enum(entity="MyProject\MyBundle\DBAL\Types\StatusType")
     */
    private $status;

    doctrine:
        dbal:
            driver:   pdo_mysql

[2015-12-18 19:52] fre5h commented on #38
It happens only during update?

[2015-12-18 20:21] jonathanbull commented on #38
Thanks for the prompt reply. It also happens on `doctrine:schema:create`.

[2015-12-18 20:29] fre5h commented on #38
I'm not sure what is it. Maybe it is a bug, but I'm not sure. I don't work with Symfony 3.0 now, continue working with 2.8. If it is a bug, then it is not related to Symfony, I think it is more related to the Doctrine. But need to check.
I described the known issue related to migrations https://github.com/fre5h/DoctrineEnumBundle#hook-for-doctrine-migrations Maybe it is related somehow.
I will tak

[2015-12-18 21:15] fre5h commented on #38
@jonathanbull
Please check the comment type above your field, your example
[code]
But should be
[code]
Use `/**` instead of `/*`. Your annotations are not inside docblocks, that's why field is not visible by Doctrine.
Please give feedback if it helped you.

[2015-12-19 20:53] jonathanbull commented on #38
You're a life saver! Can't believe I missed that, thank you very much.

[2015-12-19 20:57] #38 closed

[2015-12-25 20:55] lensky84 opened #39 "You lost your destiny!"
Daria left... :)

[2015-12-26 09:45] #39 closed

[2015-12-31 23:18] jaimz22 opened #40 "Enum form choices backwards when using Symfony 3"
Prior to Symfony 3, there was the form choice option of "choices_as_values" which would use arrays as such:

[code]
when using 'choices_as_values' => false which is how this the choices are handled for the enums. This means that in symfony 3, the enum value is shown as the label and the label is shown as the value.

Later they in symfony 3, they removed the 'choices_as_values' option from the choi

[2016-01-14 15:16] jaimz22 commented on #31
this happened to me the other day with Symfony 3 and Postgres 9.4 as well. it also was an alter table statement

[2016-01-14 18:10] ABM-Dan opened #41 "Support of SET fields"
Would this be possible? Would it be easy?

[2016-01-14 18:15] fre5h commented on #41
Check this https://github.com/fre5h/DoctrineEnumBundle/issues/8
If it be implemented then not in this bundle, but in separate, like DoctrineSetBundle.

[2016-01-14 18:18] ABM-Dan commented on #41
Thank you for the prompt answer, what is funny is that I actually confused the two, I need enum and not set. And you're mostly right in that set is not the greatest pattern. That does propmpt me to ask another question.

[2016-01-14 18:20] ABM-Dan opened #42 "Class-less annotation-based enum values"
Would it be possible to have the list of values defined in an annotation and have a generic enum class managing it generically?

We are indeed creating a bunch of classes that have nothing but arrays of data (on average cases).

[2016-01-14 18:21] #41 closed

[2016-01-14 18:37] fre5h commented on #42
I think it is possible to set a list of values for ENUM in annotation. But how do you want to set this values in your code? Do you want use just strings for it?
[code]

Because when you have an EnumClass for your type, then you have all values placed in one class and when you need to change the value you can easily do it

[code]

And with string you can have problems if you forget to update it in

[2016-01-14 18:41] ABM-Dan commented on #42
Yes, strings would work.

What you are describing are not drawbacks of the implementation, they are drawbacks of the ENUM type, and while it kinda sucks that there have to be drawbacks, that's the price to pay to avoid 1-n relations with very small and underused tables.

I'm not suggesting this to be the default, but it could be a relevant option.

It does indeed have points of failure, but they c

[2016-01-14 18:45] fre5h commented on #42
Maybe just set your field to string instead of enum and add simple validator for allowed values? :)

[2016-01-14 18:52] ABM-Dan commented on #42
But the idea was that then you could have the annotation be filled in by doctrine tools/the database schema would be updated from the annotation. All of this is so I can have the entity entirely defined in one space (for entities that are not crazy complex), and still be able to leverage the automation of Symfony.

[2016-01-14 18:56] fre5h commented on #42
I understood your point of view. But at the near future I won't have time to implement it, so if you want you can try to implement it and we will see what we get in the result.

[2016-01-28 14:24] jewome62 opened #45 "Many Yaml parse error in Sf 2.8"
Hello !

With the Yaml parser update for Symfony 2.8.
I have many deprecated with the @ in config.yml

You have fix it for the version 4.0
Can you apply the same correction on 3.3 ? (and create 3.3.1 ?)

https://github.com/fre5h/DoctrineEnumBundle/commit/0f2f27c9ac79dedc3a737fc94574d754a7040226#diff-a08c782a2ee112dc4ee0a0152ba6c6ccL24

Thanks a lot

[2016-01-28 17:23] fre5h commented on #45
@jewome62 As I understood, you are using EnumBundle v3.3 with Symfony 2.8?

[2016-01-29 01:17] jewome62 commented on #45
Yes it is

Envoyé depuis mon iPhone

[2016-01-29 07:25] fre5h commented on #45
@jewome62 So you can just use the version 4.1, it has all fixes of deprecations. I am currently use 4.1 in my projects with Symfony 2.8 and it works. Version 4.1 works well with Symfony 2.8 and also supports Symfony 3.0

[2016-01-29 08:43] jewome62 commented on #45
Ok, Thanks for information
Sorry for the noise

:beers:

[2016-01-29 08:44] #45 closed

[2016-01-29 12:42] krombox opened #46 "Symfony 3.0 with FOSRestBundle doesn`t assign value to enum field"
I have started develop simple API with Symfony 3.0.

I have into trouble with FOSRestBundle form post action. I send json body via POST method.

[code]

CriteriaUserAnswer Entity has an enum type field answer.  Request->request->get('answer') contains right value(string 'no');. But after $form->handleRequest() answer is still empty.

I solved this problem by downgrading to Symfony 2.8 in case of t

[2016-01-29 18:30] jonathanbull commented on #40
Was also getting tripped up by this... thanks for the array_flip workaround, jaimz22!

[2016-02-01 14:55] yceruto commented on #31
I have the same problem, any news?

[2016-02-01 14:57] jaimz22 commented on #31
they way I fixed this for myself was to delete the existing table then reconstruct the whole thing. Fortunately for me, I was in the position where I was able to do this

[2016-02-01 15:36] timbordemann commented on #31
If you want to keep your existing data, you can rewrite the migration to:

[code]

[2016-02-01 16:20] yceruto commented on #31
@timbordemann thanks, but now throw this exception when `doctrine:migration:diff` is executed

  Unknown database type invoice_status requested, Doctrine\DBAL\Platforms\PostgreSQL92Platform may not support it.

any suggestions?

[2016-02-01 16:43] yceruto commented on #31
Solved \o/
[code]

[2016-02-11 04:26] rafrsr opened #47 "Inverted choices in symfony 3"
All choices appear inverted value=>label when use with symfony 3.

from symfony documentation:

2.3
The choices option is an array, **where the array key is the item value and the array value is the item's label**

3.0

The choices option is an array, **where the array key is the item's label and the array value is the item's value**

[2016-02-11 07:27] fre5h commented on #47
I'am planning to fix it on this weekend

[2016-02-19 12:20] jaikdean opened #48 "EnumTypeGuesser fails in Symfony 3"
Letting `EnumTypeGuesser` do its thing in Symfony 3 results in a exception being thrown `Could not load type "choice"`. Symfony 3 expects a FQCN rather than a type name.

FOSUserBundle works around this with a `LegacyFormHelper` class to handle the conversion.

[2016-02-19 14:51] #40 closed

[2016-02-19 14:57] #48 closed

[2016-02-19 15:01] fre5h commented on #47
Please check the version v4.2, it has fixed this issue

[2016-02-19 15:01] #47 closed

[2016-02-19 15:02] fre5h commented on #40
Guys, please check the version v4.2, it has fixed this issue.

[2016-02-19 15:02] fre5h commented on #46
Please check the version v4.2, it should be fixed there.

[2016-02-19 15:08] fre5h commented on #46
@krombox Please give feedback if your issue was fixed

[2016-02-25 12:20] luispabon commented on #24
@KonstantinKuklin how did you go on about fixing this? Did you override Easy's admin controller? Or via config?

[2016-02-25 14:22] KonstantinKuklin commented on #24
@luispabon oh man, it was so long ago, it seems, that I hacked easy admin a little, but code lost

[2016-03-06 07:54] sustmi opened #53 "Naming filter `readable` is confusing"
I have first-person and second-person experience with your bundle and the filter name `readable` is quite confusing. I had no idea what is this filter supposed to do until I was told that it has something to do with enums.
I suggest renaming the filter to either:
`enum_readable` (so that there is a common prefix with `enum_constant`)
or:
`readable_enum` (it reads better).

We can choose a new name

[2016-03-07 13:53] fre5h commented on #53
I'll think about it. Thanks

[2016-03-07 13:57] sustmi commented on #53
If we agree on the name I can implement it and send you a pull-request. ;)

[2016-03-07 14:14] fre5h commented on #53
I prefer `readable_enum`. So if you implement it, it will be great! But don't forget to add/update all related tests ^_^

[2016-03-09 21:31] sustmi commented on #53
Maybe I am over-thinking it, but I came with another name for the filter: `enum_label`.
I think it is the best of all mentioned.
First, it has the prefix `enum_` which I think is good since Twig filters have no concept of namespaces and in big applications there can be collisions or ambiguity.
Second, `readable` is good, but my opinion is that `label` describes it more precisely, because the retur

[2016-03-09 21:43] sustmi commented on #53
Oh, I can see that the term *readable* is scattered in lot of places in the code. :/
Ok, let's stick with `readable_enum` for the filter name as it is the closest we can get to the rest of the code (`AbstractEnumType::getReadableValue()` and `ReadableEnumValueExtension::getReadableEnumValue()`).

[2016-03-10 07:34] fre5h commented on #53
Thanks

[2016-03-10 07:34] #53 closed

[2016-04-05 17:05] fussl opened #57 "Create Schema"
Hello everybody,

i guess there is an issue with the schema creation.
I followed your tutorial, but i cant create my schema.
Pls help me :+1:

AppKernel:
`new Fresh\DoctrineEnumBundle\FreshDoctrineEnumBundle(),`

config.yml
[code]

example: ChallengeFinishRule
[code]

Attribute in ChallengeClass
Challenge Class has "use AppBundle\DBAL\Types\ChallengeFinishRuleType";
[code]

Composer
[code]

[2016-04-05 19:36] fre5h commented on #57
I inspected your code examples and did not see anything wrong there. But the error message `Unknown column type "enum" requested.` looks like you have an `enum` type somewhere. Maybe in some entity you have `@ORM\Column(type="enum", nullable=false)` annotation. I could reproduce your issue with this annotation. Reinvestigate your code.

[2016-04-06 13:00] fre5h commented on #57
@fussl was it helpful?

[2016-04-06 18:59] fussl commented on #57
yes

[2016-04-06 18:59] #57 closed

[2016-06-13 19:34] krombox commented on #46
Hello. Sorry for delay. Since some time i am back to use Symfony 3.x (3.1.1-DEV) in conjunction with your awesome bundle(v4.6.2). Issue was fixed. Thank you very much.
But i found that issue reproduced when i trying to use ``PUT`` instead of ``POST`` method

[2016-06-13 20:19] fre5h commented on #46
I guess you use PUT for updates. So maybe the cause is wrong logic for updates. Please give some examples of your code to investigate this issue

[2016-06-13 20:24] krombox commented on #46
Yes, i am using PUT for updates, but what is the difference? Code is the same as in my first post
just replace ``postCriteriaUserAnswerAction`` with ``putCriteriaUserAnswerAction``

[2016-06-13 20:32] fre5h commented on #46
Maybe difference is in the way of handling response, I am not sure. Need to investigate this case.

[2016-07-05 21:02] pascalwacker opened #59 "Updating Enum Types"
When I run `php bin/console doctrine:schema:update --force` on a Symfony 3.1 installation (not tested in any other), it doesn't update the Enum field in the db, when I add a new Type.

I can either drop that table and recreate it with above command or add the new type manually. It would be nice, if the console command could take care of that (specially to have the dev and prod server in sync).

[2016-07-06 06:52] fre5h commented on #59
Hi. It is not possible right now to fix it. Check this related issue https://github.com/fre5h/DoctrineEnumBundle/issues/33

I wrote in docs https://github.com/fre5h/DoctrineEnumBundle#hook-for-doctrine-migrations what to do if you want to update schema (just remove comment from the column definition)

[2016-07-06 06:52] #59 closed

[2016-07-08 02:54] SCIF commented on #31
@fre5h , seems like that is a bug cause comment does not solve issue.

Also experienced:
[code]

`migration`:
[code]

`entity.php`:
[code]

`config.yml`:
[code]

Only adding
[code]
 as of [above](https://github.com/fre5h/DoctrineEnumBundle/issues/31#issuecomment-178062042) solved issue.

[2016-07-08 07:11] fre5h commented on #31
@SCIF In the first code snippet you wrote `listing_ownershiptype_enum` but in next snippets `listing_stage_enum`. Did I miss something?

This SQL `$this->addSql("CREATE TYPE listing_stage_enum AS ENUM ('online', 'staging', 'relisting', 'completed');");` you created manually? Because bundle cannot create two different SQL statements which are related to one field. Only one definition for field is a

[2016-07-08 10:17] SCIF commented on #31
Hey @fre5h!

I cite a migration code just to make you understand which structure of db i created. I mixed a enums one with other. Just replace `listing_ownershiptype_enum` with `listing_stage_enum` in my message. Yes, doctrine generated another but i read [your](https://github.com/fre5h/DoctrineEnumBundle#hook-for-doctrine-migrations) workaround and adopted it to postgres.

[2016-08-11 09:33] gplanchat opened #60 "instanceof vs get_parent_class"
I seen the use of `get_parent_class` in https://github.com/fre5h/DoctrineEnumBundle/blob/master/Form/EnumTypeGuesser.php#L89

Why the choice of using this function instead of the `instanceof` operator ? Is it to prevent from types inheritance ?

[2016-08-12 07:37] fre5h commented on #60
Good question. I found the commit which added this https://github.com/fre5h/DoctrineEnumBundle/commit/4f0b7b6b15865fbc1cef8c2144b1dffcc6a21aeb

It was 2,5 years ago, unfortunately I don't remember the cause for this update. But the commit message says `Force EnumTypeGuesser to process only AbstractEnumType and skip other registered DBAL types`. Looks that I had some problems with it.

But your not

[2016-08-12 09:04] gplanchat commented on #60
I have no actual use case, I was just wondering why. Eg: if it was a deliberate decision for code consistency or a convention or linked to Doctrine limitations.

[2016-08-12 09:11] fre5h commented on #60
I don't remember :( so can be debated :)

[2016-08-12 14:27] gplanchat commented on #60
It could be a long debate : reflection (`get_parent_class`) vs operator (`instanceof`).

As long as it does not add functional restrictions (if Doctrine supports it), I would prefer the latter :) It is my personal choice. The potential speed gains with `instanceof` may probably not be measurable in a classic production environment.

Anyway, the bundle works without change :)

[2016-08-15 09:48] fadoe opened #61 "Bundle has complete symfony framework as dependency in composer.json"
Your Bundle has the complete symfony framework as requirement. Can you only include the needed components in the composer.json, please?

[2016-08-15 09:58] fre5h commented on #61
OK, I will check required dependencies in the evening and decide what can be omitted.

[2016-08-15 10:04] fadoe commented on #61
Great. Thank you.

[2016-08-15 19:34] fre5h commented on #60
Found the reason

[code]

In this case $enumTypeFullClassName is a string that's why `instanceof` cannot be used here.

[2016-08-15 19:57] #61 closed

[2016-08-15 19:59] fre5h commented on #61
Take this version v4.6.3

[2016-08-16 10:44] gplanchat commented on #60
Indeed, it makes sense :)

[2016-09-22 17:25] ktwbc opened #65 "doc error"
in your directions on packagist, you have an example

Symfony >= 3.0
$builder->add('position', '\Symfony\Component\Form\Extension\Core\Type\ChoiceType', [
    'choices' => BasketballPositionType::getChoices()
]);

note should be:

$builder->add('position', ChoiceType::class, [

[2016-09-22 18:45] #65 closed

[2016-09-22 18:46] fre5h commented on #65
@ktwbc Thank you. Nice catch!

[2016-10-03 07:35] RaphaelSalique opened #67 "Conflict with twig upgrade"
I use Symfony 2.8 and your bundle for my project.

When I launched "composer update" this morning, the "cache:clear" step failed with this error : "PHP Fatal error:  Cannot make non abstract method Twig_Extension::getName() abstract in class Fresh\DoctrineEnumBundle\Twig\Extension\AbstractEnumExtension"

Twig has upgraded from 1.25 to 1.26 - it seems that Twig_ExtensionInterface::getName() is depr

[2016-10-03 07:43] fre5h commented on #67
@RaphaelSalique it is because recent changes in Twig 1.26. Patch is ready, waiting until tests pass

[2016-10-03 07:48] RaphaelSalique commented on #67
Thanks a lot :-)

[2016-10-03 08:18] #67 closed

[2016-10-03 08:23] fre5h commented on #67
New patched version 4.6.5

[2016-10-08 11:26] Dm3Ch opened #69 "Enum types in plugin bundles without declare in app/config.yml"
Hello, I'm writing an application where user could connect own plugins. Every plugin is a bundle.
I'd like to give plugins's authors ability to use Enums, but it is not possible to add every type to app/config.yml.
 Is there any way to declare user types without writing them into app/config.yml?

[2016-10-08 11:30] fre5h commented on #69
Your application is written on Symfony and uses Doctrine?

[2016-10-08 11:34] Dm3Ch commented on #69
Yes

[2016-10-08 11:36] Dm3Ch commented on #69
Is there any way to declare enum types in bundle config?

[2016-10-08 11:41] fre5h commented on #69
Looks at this part of config

[code]

If you have some custom types for Doctrine, you have to tell Doctrine what are them and where they are placed. If you want to load types from other places, not from origin Doctrine config, then you have to find the way how to hook into Doctrine and load custom types.
Right now I don't know if it is possible. I'll take a look, but it seems to me that it is not

[2016-10-08 11:51] fre5h commented on #69
Looks like I have found something useful. Checking it...

[2016-10-08 11:56] Dm3Ch commented on #69
Thank you for helping me.

I also found some way to make what I want and checking it.

P.S. Sorry for my dab English. :)

[2016-10-08 12:22] fre5h commented on #69
@Dm3Ch I found a solution.

Let's continue my previous example. The solution is next.

1) Remove types from config, but keep `mapping_types` section.

[code]

2) Your `AppBundle` should contain next code

[code]

3) That's all. Enjoy.

P.S. Maybe it is also possible to register automatically the `enum` mapping type. Need to investigate it.

[2016-10-08 12:31] fre5h commented on #69
Update

Just add to the bundle boot method this check

[code]

And after that you can remove `mapping_types` section from config. But if you have other registered types, then you should keep them, you can just remove `enum: string` mapping.

[code]

That should solve your problem.

[2016-10-08 12:31] #69 closed

[2016-10-08 12:36] Dm3Ch commented on #69
Thank you for help.

[2016-10-08 12:38] fre5h commented on #69
I will include enum mapping registration to my bundle. It is very cool feature.

[2016-10-08 12:40] Dm3Ch commented on #69
Yes, it will be very cool.

[2016-10-08 13:00] Dm3Ch commented on #69
It is very strange, but symfony 3 couldn't find doctrine.dbal.default_connection. But debug:container shows that this service exists.

[2016-10-08 14:02] fre5h opened #71 "Integration with a Symfony Workflow component"
Symfony Workflow component appeared in version 3.2. It is the implementation of the state machine. As ENUM fields in database often used for keeping some readable statuses, so it would be nice to add state machine over these types in PHP.
I am not sure if this integration is possible. But want to investigate.

[2016-10-08 14:06] fre5h commented on #46
@krombox Is it still actual?

[2016-10-08 14:15] fre5h commented on #69
@Dm3Ch  Try this version `4.x-dev` of my bundle. I added autoregistration there. Tests have been passed on all versions of Symfony 2.6..3.1

[2016-10-08 14:19] fre5h opened #73 "Changes for version 5.0"
- [x] Require PHP 5.6
- [x] Update code to use syntax of PHP 5.6
- [x] Update minimum version of Doctrine and other vendors
- [x] Use PHPUnit 5.7
- [x] Remove depracations

[2016-10-08 15:44] Dm3Ch commented on #69
Thank you for new release. I've updated to version 4.7.0. And now when i'm trying to update database i'm getting
[code]

I'm not sure is it bug or i'm all thumbs.

[2016-10-08 15:55] Dm3Ch commented on #69
I fixed second problem by checking if type registered before registration.

`public function boot()
    {
        parent::boot();
        if (!Type::hasType("WGAccountStatusType")) {
            $databasePlatform = $this->container->get('doctrine.dbal.default_connection')->getDatabasePlatform();
            Type::addType('WGAccountStatusType', WGAccountStatusType::class);
            $databasePlat

[2016-10-08 16:02] Dm3Ch opened #74 "Problem with updating schema"
Thank you for new release.
First problem: I've updated to version 4.7.0. And now when i'm trying to update database i'm getting

[code]
I'm not sure is it bug or i'm all thumbs.

[2016-10-08 17:45] fre5h commented on #74
Check this `status ENUM() NOT NULL COMMENT`
Your ENUM is empty, it is the error. Drop your ENUM class here. Maybe I'll catch something.

[2016-10-08 17:49] Dm3Ch commented on #74
Oh. i found mistake. I thought, that choices array is array for forming names for choices in form. And i commented it.

[2016-10-08 17:59] #74 closed

[2016-10-19 09:53] jdecoster commented on #67
@fre5h can you bump this to the 4.7.x release ?

[2016-10-31 12:59] cmyker opened #75 "Compatibility with twig < 1.26"
Compatibility with twig < 1.26 is broken
Fixing issue #67 you broke compatibility with older version of twig.
To fix it you need either change requirements to require twig >= 1.26 either support lower but change the code.

[code]

[2016-10-31 13:03] fre5h commented on #75
What version of doctrine-enum-bundle do you use?

[2016-10-31 13:09] cmyker commented on #75
Tried to install the latest one

[2016-10-31 13:11] cmyker commented on #75
To save your time any version that has https://github.com/fre5h/DoctrineEnumBundle/issues/67 merged is not compatible with twig <1.26 anymore

[2016-10-31 13:13] fre5h commented on #75
OK, got it. But that means you have in you composer.json dependency for twig < 1.26
Have you added it manually or it came with some vendor?
Or you just what to upgrade doctrine-enum-bundle without upgrading twig?

[2016-10-31 13:30] cmyker commented on #75
It came from symfony (3.0) installation time, I mean I was not adding it manually.

[2016-10-31 13:42] fre5h commented on #75
Thanks. I will fix it this evening.

[2016-10-31 14:21] cmyker commented on #75
Wow, that's what I call support! Thanks!

On Oct 31, 2016 14:42, "Artem Genvald" <notifications@github.com> wrote:

[2016-10-31 20:23] #75 closed

[2016-10-31 21:54] fre5h commented on #75
@cmyker
The last bundle version which supports Twig < 1.26 is 4.6.4
Since the version 4.7.1 bundle requires Twig >= 1.26

[2016-11-01 10:13] BoShurik opened #78 "Question about AbstractEnumType signature"
Hello!

Why do you use `protected static $choices = [];` instead of `abstract public getChoices()` so IDE could hint you

Thank you

[2016-11-01 17:35] fre5h commented on #78
I can't remember exactly. It was too far ago. I think there were some historical reasons for that.
But I got your advice and will consider it when be doing upgrade to version 5.0.0
Thanks

[2016-11-01 17:35] #78 closed

[2016-11-28 13:59] Arthurhall opened #81 "Compiler pass for "doctrine.dbal.default_connection""
https://github.com/fre5h/DoctrineEnumBundle/blob/master/FreshDoctrineEnumBundle.php#L29

This should be in a Compiler Pass, right ?

Because i get the error :
`You have requested a non-existent service "doctrine.dbal.default_connection".`

[2016-11-28 14:04] fre5h commented on #81
Do you have DoctrineBundle in your project? Is it enabled in AppKernel?
If yes - what version of Doctrine do you use?

[2016-11-28 14:06] Arthurhall commented on #81
Hi,

I have :

[code]

[2016-11-28 14:10] fre5h commented on #81
What is the sequence of bundles in AppKernel? Does DoctrineEnumBundle is under the DoctrineBundle?

[2016-11-28 14:10] Arthurhall commented on #81
yes

[code]

[2016-11-28 14:13] Arthurhall commented on #81
I have multiple connections in my project :

[code]

[2016-11-28 14:16] fre5h commented on #81
Aha! This explains all. You have found a bug.
My code looks for a default doctrine connection. But in your config you renames the default connection to surver.

[code]

Just to be sure. Please give me output of this command
`bin/console debug:container | grep dbal`

[2016-11-28 14:18] Arthurhall commented on #81
[code]

[2016-11-28 14:19] fre5h commented on #81
Just comment the DoctrineEnumBundle in your AppKernel and try again :)

[2016-11-28 14:22] Arthurhall commented on #81
ok but if i comment this, i have to keep `enum: string` in my yml :)

[2016-11-28 14:24] fre5h commented on #81
Yes, I know. It is for a moment. I just want to get your output for debug purposes. I will fix this bug, I just need your small help :)

[2016-11-28 14:25] Arthurhall commented on #81
The boot method should browse every connections ...
Yes no problem, thanks for your help :)
i ll try to make a PR for this ...

[2016-11-28 17:24] #81 closed

[2016-11-28 17:28] fre5h commented on #81
@Arthurhall Take this v4.8.1

[2016-11-29 06:53] Arthurhall commented on #81
That's great, thanks @fre5h ! 👍

[2016-12-01 02:22] ph-il opened #85 "SET version"
Might be interesting to have a set version like : https://github.com/okapon/DoctrineSetTypeBundle

[2016-12-01 07:49] fre5h commented on #85
What exactly do your propose?

[2016-12-01 17:26] fre5h commented on #85
@ph-il ping

[2016-12-01 18:08] ph-il commented on #85
There code is quite near yours. Except, it's not up to date and there is no response from them.

Maybe having a DoctrineSetBundle base on your bundle or add Set this this one.

[2016-12-01 18:30] fre5h commented on #85
How often do you use SETs in MySQL? After I studied at university I have never used sets in databases. One of the reason not to use them is that it is an anti-pattern. You can use many-to-many relations instead of sets. Another one is that sets are not widely used in other RDBMS and their implementation is different.
One more thing is that a lot of developers are migrating to NoSQL databases, so o

[2016-12-05 19:16] #85 closed

[2016-12-11 15:11] lotfikhalifa opened #86 "help me for this error"
[Doctrine\Common\Annotations\AnnotationException] [semantical Error]couldn't find constant cascade, property oilexport\oilexportBundle\Entity\categories::$image

entity categories.php:
*********************
<?php

namespace Oilexport\OilexportBundle\Entity;

use Doctrine\ORM\Mapping as ORM;

/**
 * categories
 *
 * @ORM\Table("categories")
 * @ORM\Entity(repositoryClass="Oilexport\OilexportBundle\

[2016-12-11 16:12] fre5h commented on #86
@lotfikhalifa How it is related to my bundle? I would like to help, but it is not enough information.

[2016-12-28 07:09] #46 closed

[2016-12-28 07:10] #86 closed

[2017-01-08 06:56] fkrauthan opened #87 "doctrine:migrations:diff always regenerates enum creation"
I am using Symfony 3.2 and a mysql database. I have the following problem everytime I run `console doctrine:migrations:diff`. The output always regenerates the enum field (and the teardown always "reverts" it back to regular varchar fields.

Here is an example output:

[code]

[2017-01-09 13:49] TobiasXy opened #88 "Support for Twig 2.0"
Recently Twig 2.0 was released. Would be nice if this bundle would add support for it. :-)

[2017-01-09 15:54] #88 closed

[2017-01-09 15:55] #73 closed

[2017-01-09 16:00] fre5h commented on #88
@TobiasXy please check and test version 5.0.0

[2017-01-10 18:32] fkrauthan commented on #87
I am using latest Mariadb version (a mysql drop in replacement).

And here is the initial migration where some of the enums got added for the first time:
[code]

[2017-01-10 18:44] fre5h commented on #87
After doctrine generated this migration file for your, have you edited it manually?

[2017-01-10 18:45] fkrauthan commented on #87
The original file no. I just did some changes before posting it here (removed some tables that where part of this migration).

[2017-01-10 19:21] fre5h commented on #87
The reason why you always get ENUMs on migration diff is that in your first migration missed the comment for ENUM column(s). It should look like this
[code]
If Doctrine finds this comment, then it excludes this field on migration diff.

The question is why Doctrine didn't generate comment for your MariaDB. Maybe there is another syntax for it in MariaDB or something else. Need to investigate. By t

[2017-01-10 19:30] fkrauthan commented on #87
I use `pdo_mysql` as my database_driver. And it looks like the SQL generated never added that COMMENT part to the statement. Therefor the database never executed it. MySQL and MariaDB are syntax equal if it comes to things like that. So it seems like somewhere in the code there is a compatibility check that does not work correctly?

[2017-01-10 19:30] fkrauthan commented on #87
Is there a better way to just detect the type instead of having to use a comment from your bundles point of view?

[2017-01-10 19:36] fre5h commented on #87
Doctrine always use comments for custom type (enums, json, array, etc.). So the only way is to find why comments are not generated in your case. What version of my bundle do you use?

[2017-01-10 19:37] fre5h commented on #87
And also what version of Doctrine?

[2017-01-10 19:41] fkrauthan commented on #87
Here are the versions out of my composer.lock file.

`doctrine/doctrine-bundle`: `1.6.4`
`doctrine/orm`: `2.5.6`

`doctrine/doctrine-migrations-bundle`: `1.2.1`
`doctrine/migrations`: `1.5.0`

`fresh/doctrine-enum-bundle`: `4.8.1`

[2017-01-10 19:50] fre5h commented on #87
OK, thanks
https://github.com/fre5h/DoctrineEnumBundle/blob/master/DBAL/Types/AbstractEnumType.php#L72
This a function which adds correct ENUM syntax for specific platform. As you can see there is no adding of comment. Comments to database columns are added by Doctrine. So it is not a problem of my bundle, because its generated correct syntax for platform. Something wrong is with Doctrine in your

[2017-01-10 20:05] fkrauthan commented on #87
Is this a doctrine orm or a doctrine-bundle issue? I will open a issue in there bug tracker and reference this issue.

[2017-01-10 20:09] fre5h commented on #87
It is a Doctrine DBAL job to create a proper SQL for platform.
https://github.com/doctrine/dbal/tree/master/lib/Doctrine/DBAL/Platforms

[2017-01-10 20:11] fre5h commented on #87
You can debug MySqlPlatform in the place where comments should be added. Maybe there you can find something new.

[2017-01-11 20:20] ben-gibson opened #89 "doctrine:database:create fails"
With this bundle registered the doctrine create database command `php bin/console doctrine:database:create` produces the error `database "foo" does not exist.`. I think this happens because the bundle verifies the `enum` type is supported on boot which requires a database connection. Is there anyway to make it resilient to this?

[2017-01-11 20:36] fre5h commented on #89
I often use `doctrine:database:create` with autoregistered enums and never got such error. Need more details. Are you sure that this error is produced by my bundle? Have you tried to switch off DoctrineEnumBundle and create your database?

[2017-01-11 20:42] ben-gibson commented on #89
Yeah it works when I unregister the bundle. Here's the stack trace from `--verbose`.

[code]

[2017-01-11 20:48] fre5h commented on #89
What is the version of Doctrine and EnumBundle you use?

[2017-01-11 20:57] fre5h commented on #89
Also show me your doctrine.yml file. And give the version of PostgreSQL you use, as I see it from your logs.

[2017-01-11 21:01] ben-gibson commented on #89
[code]

[code]

[code]

[2017-01-11 21:06] fre5h commented on #89
Thanks. I have one idea. Try to add next line to your config

[code]

And in your parameters.yml add this new parameter

[code]

Give me feedback if it solved the issue.

[2017-01-11 21:16] fre5h commented on #89
This is not an issue of my bundle. This is an old issue of Doctrine. It appeared few years ago, I don't remember exactly when. If you don't specify the version of database manually, Doctrine tries to get in from connection. But database is not created yet at that moment, so connection cannot be opened.

I don't close this ticket right now. I will check what I should add to the `boot` method of my

[2017-01-15 18:48] izquierdogalan opened #90 "Support for php 7.1"

[2017-01-15 19:25] fre5h commented on #90
What's the problem here?

[2017-01-15 19:26] fre5h commented on #90
https://github.com/fre5h/DoctrineEnumBundle/blob/master/.travis.yml#L8 Bundle already supports PHP7.1

[2017-01-16 16:43] #90 closed

[2017-02-11 09:06] fre5h commented on #87
@fkrauthan Hey, have you fixed it?

[2017-02-20 01:47] fkrauthan commented on #87
@fre5h No it is still an issue. Started debugging with the help from the DBAL people but so far no luck. It seems like it is not detecting that type to be commented.

[2017-03-13 11:16] sfenne commented on #59
If you don't mind your `php bin/console doctrine:schema:update --force` always returning

You could do this trick to force enum to be updated every time (automatically).

In your entity, specify a constant as value for the columns comment section.
For example:

`* @ORM\Column(type="YourEnumType", nullable=true, options={"comment":AppBundle\DBAL\Types\YourEnumType::ONE_OF_YOUR_CONSTANTS})`

[2017-03-22 15:17] tehplague opened #91 "Enum default value"
We are using enums for `@ORM\DiscriminatorColumn` which works quite well. As MySQL enforces a default value on non-nullable enum columns it would be nice if this bundle supported specifying them. IMHO default values would make sense in a lot more use cases than only for single table inheritance.

Any thoughts on this?

[2017-03-22 15:23] fre5h commented on #91
Hi. Can you give an example about what you want to be added? I didn't get it.

[2017-03-22 15:40] tehplague commented on #91
Of course.

[code]

instead of

[code]

(note the additional `DEFAULT 'article'` in the first SQL query)

[2017-03-23 07:23] fre5h commented on #91
If you are using ENUM field as a regular field inside some entity, then you can set default value, Doctrine allows it.

[code]

But when you set ENUM as DiscriminatorColumn you have not these options. You can add default value manually in the generated migration (edit it).

As I understood, you ask to add some parameter into the AbstractEnumType which will be responsible for default value. Right n

[2017-03-23 07:39] tehplague commented on #91
Unfortunately, manually editing the migration is no real solution because Doctrine would revert the column definition on each subsequent `doctrine:migration:diff`.

In my opinion it boils down to a modification of the base `getSqlDeclaration()` function in the `AbstractEnumType` class. There should be some kind of error check if the specified default value really belongs to the `$choices` array an

[2017-03-23 07:42] fre5h commented on #91
What to do in the case when default value in @Column is different from the default value in Enum class?
```@ORM\Column(name="position", type="BasketballPositionType", nullable=false, options={"default": "DIFFERENT_VALUE_THAN_IN_ENUM_CLASS"})```

[2017-03-31 09:15] Ex3v opened #92 "[Proposition] Use reflection instead of static map"
Hi,

synchronizing both class consts and map in `protected static $choices` might become problematic at times, bacause you have to keep them in sync. What do you think about using reflection to handle this, similar way to what `MyClabs` does?

[2017-04-03 07:11] fre5h commented on #92
@Ex3v You propose to remove field `$choices` from class and get all constants via reflection? What if class should have another constant which is not a choice for ENUM?

[2017-04-03 07:16] Ex3v commented on #92
@fre5h I believe Enums by convention should only contain available choices/states as that is their purpose - to limit them to closed list.
Personally I cannot imagine a real world example with consts in enum that are not part of it.

[2017-04-03 09:01] fre5h commented on #92
OK, I will think about this feature for release 6.0 (major release, because removing static $choices is kind of broken compatibility)
Thanks for idea

[2017-04-03 09:02] Ex3v commented on #92
No problem :) Thanks!

[2017-04-03 09:47] fre5h commented on #92
@Ex3v I forgot something. Static map allows to add readable values. If only constants are left, then how to specify readable values?

[code]

[2017-04-03 09:55] Ex3v commented on #92
I didn't had to deal with this case, as I always use i18n and translation keys instead of hardcoded text. Anyway popular hack here is to implement `toString` method. That's the way it is done in Java.

[code]

Of course I see your point here. Delegating those values to array might reduce code and if someone prefer to cast enums to human-friendly strings, there is nothing wrong within it. But forci

[2017-04-10 22:48] smcjones commented on #87
This is definitely a migrations issue. I created a custom type and it was having the same problems, with the comments. I looked here to see if this would solve it before going through the effort of conversion.

[2017-04-12 11:06] el-seirh opened #93 "Requiring database connection in bootstrap"
Hi,

When using your package with my current configuration (4 properly configured postgresql connections) I get the following error:

In the exception trace I see that your Bundle is trying to load a MySql Driver, which I do not have (nor need to have) installed.

[code]

In \Fresh\DoctrineEnumBundle\FreshDoctrineEnumBundle::boot() you loop through all connections and perform the following code on

[2017-04-12 11:24] el-seirh opened #94 "Invalid ALTER TABLE statement for Postgresql after enum update"
Hi there

I have tested this bundle with an installation of a Postgresql 9.6 (current) database.
In the` \Fresh\DoctrineEnumBundle\DBAL\Types\AbstractEnumType::getSqlDeclaration()` function the bundle has a special return format for Postgresql:

[code]
While this works perfectly for CREATE TABLE, it creates an invalid query for ALTER TABLE:
`ALTER TABLE postal_address ALTER address_type TYPE VARCH

[2017-04-12 11:25] fre5h commented on #93
You have missed one parameter in config of Doctrine

[code]

`database_server_version: 5.6`
5.6, 5.7 or what version you are using.

It is an old issue of Doctrine, that you have to specify server version manually.

Try this fix

[2017-04-12 11:30] fre5h commented on #94
@el-seirh Please check this comment https://github.com/fre5h/DoctrineEnumBundle/issues/31#issuecomment-231291275
The key point is `bundle cannot create two different SQL statements which are related to one field. Only one definition for field is allowed.`

[2017-04-13 05:59] el-seirh commented on #94
That's exactly what I assumed. So ok...  only field definition syntax is allowed. But then you still have the problem, that the ALTER TABLE statement is simply invalid. It cannot work. Even if you paste this directly into the database it will not work. Even when the previous check constraint was removed.

So ... we have to agree that it's simply not possible to create a valid field definition stat

[2017-04-13 07:05] el-seirh commented on #93
Thanks for the hint. I've actually tried the server_version param before, but only in my actually defined db connections. If I put both the _server_version_ AND the _driver_ there, you are right, there will be no db connection opened by doctrine to get these values.

But that technically still does not solve the main issue of the faulty "default" connection. In order to get around that problem, I

[2017-04-13 07:28] el-seirh commented on #93
I have a simple but radical proposition for you that would fix this problem for future users.

[code]

Yeah that's right: if that driver issue comes up, just ignore it. I know this seems dirty at first, but consider the following points:
- Why inject your enum functionality into a connection that is improperly configured at all? That doesn't make sense right?
- Why breaking a systems basic workflo

[2017-04-17 19:47] padalec opened #95 "Label translation"
Hi
how can I use translator for translate labels?
Regards

[2017-04-18 06:37] fre5h commented on #95
@padalec Hi, where exactly do you want to use translator: twig templates or somewhere else?

[2017-04-18 10:33] padalec commented on #95
Hi
I use method  getChoices() in my form type class and there I need to translate some labels
Regards

[2017-04-19 06:53] fre5h commented on #95
ChoiceType provides translation out of box. Just write translations into your messages.yml (etc.) for your choices, it should work.

[2017-04-19 17:08] padalec commented on #95
great, thanks! It's works perfectly!

[2017-04-19 17:08] #95 closed

[2017-06-06 10:25] jaikdean opened #96 "Database schema update fails if ENUM types registered with non-classname keys"
## Problem

I have a number of ENUM types defined in a Symfony 3.3 app as follows:

[code]

[code]

When creating the database schema, `AbstractEnumType::getName()` returns `"TransactionStatusType"`. This is put into the comment of the status field:

[code]

When subsequently running `php bin/console doctrine:schema:update`, an exception is thrown:

[code]

## Workarounds

If I manually change the

[2017-06-06 11:24] #96 closed

[2017-06-11 15:10] reypm opened #98 "Symfony 3.3 compatibility ...."
@fre5h will you upgrade this bundle to support Symfony 3.3 soon? I am trying to upgrade my project to Symfony 3.3 but I can't because this bundle:

`- fresh/doctrine-enum-bundle v5.0.1 requires symfony/validator ~3.2 -> satisfiable by symfony/symfony[v3.2.9], symfony/validator[v3.2.0, v3.2.1, v3.2.2, v3.2.3, v3.2.4, v3.2.5, v3.2.6, v3.2.7, v3.2.8, v3.2.9, v3.3.0, v3.3.1, v3.3.2].
`

[2017-06-11 23:15] fre5h commented on #98
Yes, I will fix it soon

[2017-06-12 11:46] fre5h commented on #98
@reypm I tried to investigate this issue, but couldn't reproduce. I created a new symfony project on version 3.3.2 via symfony installer. then added my bundle as dependency `"fresh/doctrine-enum-bundle":"~5.0"` and ran `composer update`, and got no error.

Can you reproduce it again or show me your composer.json?

[2017-06-12 12:08] reypm commented on #98
@fre5h here is my composer.json:

[code]

[2017-06-12 12:51] fre5h commented on #98
Strange, but with your composer.json I didn't have the issue you posted. Try to delete your vendors and run `composer update` again

[2017-06-12 13:42] reypm commented on #98
Ohhh sorry, the problem comes when you try to upgrade Symfony from `3.2.*` to `3.3.*`. Having this the right `composer.json` should be:

    "require": {
        "symfony/symfony": "3.0.*",
        "doctrine/orm": "^2.5",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-cache-bundle": "^1.2",
        "symfony/swiftmailer-bundle": "^2.3.10",
        "symfony/monolog-bundle": "

[2017-06-12 13:45] fre5h commented on #98
@reypm But in this composer.json I see next `"symfony/symfony": "3.0.*",` Why 3.0? Check your code, maybe there you have same typo.

[2017-06-12 13:46] reypm commented on #98
@fre5h unless I am wrong this is what Symfony.com site says [here](https://symfony.com/doc/current/setup/upgrade_major.html#update-to-the-new-major-version-via-composer) for upgrade to latest version, I am wrong?

[2017-06-12 13:51] reypm commented on #98
@fre5h well, not sure but that seems to be wrong, I have updated the `composer.json` file for Symfony to this: `"symfony/symfony": "3.3.*",` and the update works properly. I will close this. Thanks for your time.

[2017-06-12 13:51] #98 closed

[2017-06-12 13:51] fre5h commented on #98
@reypm
There sad a **MAJOR** version. Check this http://semver.org/#summary
1.0, 2.0, 3.0, 4.0 - are Major versions.
3.1, 3.2, 3.3 - are Minor versions.
3.3.0, 3.3.1, 3.3.2 - are patch versions.

`3.0.*` - is a lock for all patches for minor changes of Symfony 3.0

If you want to use Symfony 3.3 then update your version to `3.3.*` or `~3.3`

[2017-06-14 08:26] BenoitDuffez opened #99 "Unable to install on Symfony 3.3"
First, thank you for your work.

Then, I'm not sure it's related to your bundle, but I am new to Symfony and I am sorry if my issue is off topic.

I have followed the instructions on the readme, however it doesn't seem to work.
Here's the error:

[code]

Now I don't understand why composer/Symfony believes this should be a service.
Here's what I have implemented (git output shortened to file names

[2017-06-14 08:57] fre5h commented on #99
@BenoitDuffez I tried to investigate quickly, but didn't resolve the issue, need more time.
But two things I found.
First, try to update to Symfony 3.3.2.
Second, add the following parameter for you doctrine config.

[code]

I am not sure if it helps, but very often people miss this option

[2017-06-14 09:12] BenoitDuffez commented on #99
Thanks for the quick feedback.
Not sure exactly what version you are expecting, I'm guessing MySQL's.

[code]

Here's how it looks like in `app/config/parameters.yml` (only the last line was added):

[code]
and:
[code]

Did not solve. I will try with the latest Symfony.

[2017-06-14 10:34] BenoitDuffez commented on #99
It works! It must be a Symfony 3.0.0 bug.
Thanks for the support!

[2017-06-14 10:34] #99 closed

[2017-06-27 08:37] Blackskyliner commented on #92
In Java you actually use the type/enum though. As it's a builtin feature of the language. Which in this case the enums are not. We just insert the string after referencing them (because const)

I guess if you'd need such functionality as described you WILL have to add an static array with the translations. But nonetheless it's then an application decision and not an enforced one of the enum librar

[2017-07-31 08:20] allfreelancers opened #102 "Could not load type when using EasyAdminBundle"
After register type as
[code]
I get exception:
Could not load type "UserRoleType"

why?

[2017-07-31 08:23] fre5h commented on #102
@allfreelancers Show how you added @ORM annotations to your entity. And also what version of Symfony do you use?

[2017-07-31 08:25] allfreelancers commented on #102
Symfony version  3.3.5

    /**
     * @ORM\Column(name="role", type="UserRoleType", nullable=false)
     * @DoctrineAssert\Enum(entity="AF\Bundle\UserBundle\DBAL\Types\UserRoleType")
     */
    private $role;

[2017-07-31 08:25] allfreelancers commented on #102
namespace AF\Bundle\UserBundle\DBAL\Types;

use Fresh\DoctrineEnumBundle\DBAL\Types\AbstractEnumType;

class UserRoleType extends AbstractEnumType
{
    const BOTH = 'both';
    const FREELANCER = 'freelancer';
    const EMPLOYER = 'employer';

    protected static $choices = [
        self::BOTH => 'Both',
        self::FREELANCER => 'Freelancer',
        self::EMPLOYER => 'Employer'
    ];
}

[2017-07-31 08:31] fre5h commented on #102
Try to add next, but I'm not sure if it help

[code]

[2017-07-31 08:33] allfreelancers commented on #102
@fre5h thx have same one:
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        mapping_types:
            enum: string

but it dont work

[2017-07-31 08:39] fre5h commented on #102
OK. Looks like you have done these steps.
* Created ENUM class
* Registered it in doctrine types config
* Added ORM annotation with your custom type to your entity.

The only one thing is left. What just to clarify if your have registered the bundle in AppKernel?

[2017-07-31 08:42] allfreelancers commented on #102
@fre5h You mean?
new Fresh\DoctrineEnumBundle\FreshDoctrineEnumBundle(),
I have same

[2017-07-31 08:49] fre5h commented on #102
Yes. OK. Right now I don't have any ideas. I think something wrong happened with a new version of Symfony. Need to investigate it. It will be bit later

[2017-07-31 08:52] allfreelancers commented on #102
@fre5h Thank you very much, I will wait

[2017-07-31 09:27] javiereguiluz commented on #102
@allfreelancers it's hard to read the code you paste in your comments. Lucikly there's a simple solution for that. You just need to add some ``` like this:

[code]

[code]

Thanks!

[2017-07-31 09:31] allfreelancers commented on #102
@javiereguiluz thank you alot, I wose edit my posts

[2017-08-02 00:34] tehplague commented on #91
Hotfix (needed to be applied to each enum class):

[code]

Replace `self::FOO_VALUE` with an actual enum value.

However it would indeed be far better to refer to `$fieldDeclaration`, fetch the default value and apply that to the SQL declaration after testing it for validity. But at least `DiscriminatorColumn` does not support `default` but only `columnDeclaration` and I want to use enums for them

[2017-08-02 06:28] allfreelancers commented on #102
@fre5h can you help me?

[2017-08-02 06:57] fre5h commented on #102
@allfreelancers I am creating an example right now. Please wait few minutes

[2017-08-02 07:15] fre5h commented on #102
@allfreelancers Check my example. I created a new repository on BitBucket https://bitbucket.org/fre5h/example/commits/all

It is a symfony project based on a fresh Symfony version 3.3.6. I used your ENUM type to reproduce the bug, but it works for me well. Go through my commits and compare what you have missed.

Instructions how to check my example:

1) Clone my repository
2) Run `composer install

[2017-08-02 08:58] fre5h commented on #102
@allfreelancers Please give me feedback, when you have something new

[2017-08-02 13:15] allfreelancers commented on #102
@fre5h sorry for waiting response, I make all and in DB have
role | enum('both', 'freelancer', 'employer')

But I have the same thing and I have
Could not load type "ProjectStatusType"

[2017-08-02 13:30] fre5h commented on #102
As I understood, my example works for you!?
Error can be if you directory path does not math the namespace of your class, so the class with namespace `AF\Bundle\ProjectBundle\DBAL\Types` cannot be found because file is placed in wrong directory path, not PSR-4

[2017-08-02 13:35] allfreelancers commented on #102
How to fix this?

[2017-08-02 13:39] fre5h commented on #102
Compare directory structure with your namespace. They should be same.

[2017-08-02 13:46] allfreelancers commented on #102
@fre5h structure in project correct, but my type ProjectStatusType was not loaded

you can make structure same mine?

[2017-08-02 14:27] fre5h commented on #102
Yes, I can, but I am sure it will work for me. I think the problem is hidden somewhere in your code and you cannot see it (me also, because I don't see all your code in one place). If you can share your code with me or only leave those classes which are related to the problem I will try to help you.

[2017-08-02 19:21] allfreelancers commented on #102
@fre5h install easyadmin and create new
https://easyadminbundle.readthedocs.io/en/latest/getting-started/

You will have same error "Could not load type "UserRoleType"

[2017-08-03 06:49] fre5h commented on #102
@allfreelancers I have added EasyAdmin bundle to my example project. So with this bundle I could reproduce your error. You have to told about using this bundle at the very beginning of the conversation :)

[2017-08-03 06:51] allfreelancers commented on #102
I'm sorry, but do we add our TYPE and it should work everywhere?

[2017-08-03 06:54] fre5h commented on #102
There is the EnumTypeGuesser in my bundle. It adds a magic to the form, that you custom types become known for Symfony Forms. So I think EasyAdmin bundle changes this behavior somehow. Need more itme to investigate it

[2017-08-03 06:56] javiereguiluz commented on #102
@fre5h we have some "form configurators" defined here: https://github.com/javiereguiluz/EasyAdminBundle/tree/master/Form/Type/Configurator Maybe that's messing with your bundle somehow :(

[2017-08-03 06:57] allfreelancers commented on #102
@fre5h I thought that we set the global TYPE as STRING or DATETIME

[2017-08-03 06:59] allfreelancers commented on #102
@javiereguiluz can you add ENUM type support?

[2017-08-03 07:06] fre5h commented on #102
@javiereguiluz At first sight, the problem is that EnumGuesser is not called when EasyAdmin hooks start to create a form.
Here https://github.com/fre5h/DoctrineEnumBundle/blob/master/Form/EnumTypeGuesser.php#L73 EnumGuesser gets the FQCN of the registered type and returns a TypeGuess of ChoiceType with additional parameters.
I think the same guessing should be somewhere in EasyAdmin bundle. Or may

[2017-08-03 08:16] fre5h commented on #102
@allfreelancers Here is a quick and dirty solution for you. As EasyAdmin cannot guess enum form types right now, you should set them manually. Here is how your config can look like.
[code]

I understand that it is too much manual work for each entity which uses enums. But right now it can help you to solve your problem and move on until I find a way how to integrate it into EasyAdminBundle. I took

[2017-08-03 08:41] allfreelancers commented on #102
@fre5h Thank you very much for your help, you are very sympathetic person

I use this solution

[2017-09-05 12:57] artursvonda commented on #60
Can we re-open this? My use-case is that I have my own abstract enum parent class that adds few convenience methods. But now suddenly my form fields aren't guessed correct. Also, `instanceof` supports strings according to http://php.net/manual/en/language.operators.type.php. I'm open to creating a PR for this.

[2017-09-06 08:56] fre5h commented on #60
@artursvonda I think yes, you can submit your PR. But please follow the code style and tests. As I understood you propose something like this

[code]

[2017-09-06 08:59] artursvonda commented on #60
Not sure this syntax will work. We can do
[code]
Also, I'd like to push this change to both 4.x and 5.x version as we're still stuck with 4.x (can't upgrade to Symfony 3 because of Sonata Admin Bundle). How should I approach this? Should I just copy the path to both trees and create separate PRs? Or you'll handle backporting yourself?

[2017-09-06 09:04] fre5h commented on #60
For version 4.x submit your PR to https://github.com/fre5h/DoctrineEnumBundle/tree/4.x I will create a new patch version for it.
And for version 5.x I will perform fix by myself.

[2017-09-06 09:20] fre5h commented on #60
@artursvonda  `$enumTypeFullClassName` is not an instantiated object of class AbstractEnumType, it is a string. But `instanceof` expects an object parameter for the left side.

[2017-09-06 09:21] artursvonda commented on #60
Yes, just realised that while writing the test. So will use `is_subclass_of` which supports string class names.

[2017-09-06 09:46] fre5h commented on #60
@artursvonda Check the new patch version v4.8.2. If you find some issues with this patch, then new patch is welcome :)
I will add same fix to 5.x bit later

[2017-09-06 09:47] artursvonda commented on #60
Thank you! Very appreciate your quick response.

[2017-09-06 12:39] artursvonda commented on #60
Looks like there are issues with 4.8.2. Looks like it requires Symfony 3+.

[2017-09-06 13:09] fre5h commented on #60
Yes. Sorry. I made a mistake. Created a new version from master. Wait few minutes I will fix it

[2017-09-06 13:16] fre5h commented on #60
@artursvonda Check again. Should be fixed

[2017-09-06 13:50] artursvonda commented on #60
Yes, seems to be working fine now. Thanks! :)

[2017-09-22 06:07] Bukashk0zzz opened #104 "ContainerAwareEventDispatcher Deprecated warning"
User Deprecated: The Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher class is deprecated since version 3.3 and will be removed in 4.0. Use EventDispatcher with closure factories instead.

<img width="1082" alt="screen shot 2017-09-22 at 09 06 17" src="https://user-images.githubusercontent.com/1908342/30731317-69e7fb28-9f75-11e7-9288-c2f2080c3d72.png">

[2017-11-02 09:22] aminin opened #108 "Make readable_enum silently ignore NULLs"
The following entity

[code]

enum

[code]

and twig template

[code]

produce an exception

[code]

whereas `NULL` looks like _valid nothing_ that shouldn't cause an exception.

[2017-11-02 09:32] fre5h commented on #108
@aminin Hi! It is possible to use NULL values for ENUM columns. But one of best practice is to use for NULL values a special ENUM value and doesn't allow to use null values. So in your case it can be

[code]

Use by default UNKNOWN value and you won't get this error.

[2017-11-02 11:59] aminin commented on #108
However, introducind a *separate string value* for _empty choice_ solves the problem, it doesn't look like a best practice.

Using `null` to indicate _empty value_ is more intuitive and makes more sense.

[2017-11-02 12:02] #108 closed

[2017-11-02 12:03] fre5h commented on #108
New release is v5.1.1

[2017-11-05 09:12] BenoitDuffez opened #111 "Strict constraint check validation"
I have the following deprecation warning when submitting a form:

    Setting the strict option of the Choice constraint to false is deprecated since version 3.2 and will be removed in 4.0.

Here's how the field is declared:

	/**
	 * @var TeamRoleType
	 *
	 * @ORM\Column(name="role", type="TeamRoleType", nullable=false)
	 * @DoctrineAssert\Enum(entity="AppBundle\DBAL\Types\TeamRoleType")
	 */
	pr

[2017-11-05 11:30] BenoitDuffez commented on #111
Forcing strict to true dismisses the deprecation warning:

    // vendor/fresh/doctrine-enum-bundle/Validator/Constraints/Enum.php:44
    $this->strict=true;

I have no idea why it does this and whether this bundle should set this field to `true`. Sorry, I'm still new to Symfony so I'm not very helpful.

[2017-11-05 11:40] fre5h commented on #111
@BenoitDuffez thank for report. I will investigate this issue and give you feedback

[2017-11-05 11:42] BenoitDuffez commented on #111
Great. I've updated this bundle to 5.1.1, same; I'm using Symfony 3.3.10

[2017-11-05 21:34] #111 closed

[2017-11-05 21:35] fre5h commented on #111
@BenoitDuffez Take a new version 5.1.2 and enjoy :)

[2017-11-05 21:56] BenoitDuffez commented on #111
Thanks for the insanely fast support on a sunday ;)

[2017-11-12 07:18] #60 closed

[2017-11-15 16:09] jangaehler opened #117 "How does the YAML Mapping work?"
I'm using YAML instead of Annotations for ORM Mapping. I've tried to translate the Annotations like this:

[code]
but this does not work. The SQL result looks like this:

[code]
I know, I'm missing this part:

[code]

But how do I write this in YAML?

[2017-11-15 19:47] fre5h commented on #117
@jangaehler Have you registered your enum type in doctrine.yaml configuration?

[2017-11-15 19:48] fre5h commented on #117
What database do you use?

[2017-11-16 08:17] jangaehler commented on #117
I have registered my enum type in config.yml.

[code]

I'm using MSSQL(Azure DB).

[2017-11-16 13:53] jangaehler commented on #117
Sorry, my fault. I've missed $choices, I thought this was optional.

[2017-11-16 13:53] #117 closed

[2017-11-24 14:20] fre5h opened #118 "Automatically register enum types from DBAL\Types directory"
Right now it is required to register custom enum types in the doctrine dbal configuration.
What about autoregistering all classes which extend AbstractEnumType and are placed in `App\DBAL\Types`
Also add option which will disallow autoregister custom enum type.

[2017-12-05 09:14] fre5h commented on #104
@Bukashk0zzz Do you still have this error? Try version `6.0.1`

[2017-12-06 11:24] enumag opened #120 "Remove dependency on symfony/form"
The symfony/form dependency should be optional. I want to use this bundle in an API-only project so there is no reason to install symfony/form.

[2017-12-06 11:33] fre5h commented on #120
Right. Thanks. I will make this dependency optional. But also need to edit the code, so the EnumTypeGuesser should be added as service only if Symfony Form component is installed.

[2017-12-06 12:01] enumag commented on #120
Yeah, exactly.

[2017-12-10 16:02] #104 closed

[2017-12-11 07:34] Bukashk0zzz commented on #104
@fre5h Thanks all now ok.

[2018-01-05 20:02] FlxPeters commented on #102
Hi,

is there a better fix for the problem? As you said, this is not solution due to much  manual work.
Any idea how to fix this?

Thanks

[2018-01-19 08:36] kubaceg commented on #71
It will be really nice feature :) 👍

[2018-01-19 20:38] kubaceg commented on #71
Ok It's possible. In workflow configuration You must indicate Your custom marking store:
[code]

And here is code of this class
[code]

[2018-01-26 09:57] artursvonda commented on #92
To chip in a bit, I think there's a way to satisfy all needs by having a default implementation in abstract class that transforms constant name into human-friendly name that can be overwritten by subclass. Having a clean enum class with only constants would be so nice though. :)

[2018-02-22 21:39] samdark commented on #93
Encountered the same issue with a single connection defined. I have `server_version` there:

[code]

When trying to run console it fails to connect to MySQL I'm not having at all defined in the project.

[2018-02-22 21:48] samdark commented on #93
At the bootstrap stage Doctrine seems to have default connection only. At least in Symfony 4.

[2018-02-27 01:02] laytoneverson opened #122 "Saving entity fails when using EasyAdmin Bundle"
BUG REPORT:

  * Saving changes to an entity fails when using the [EasyAdminBundle](https://github.com/EasyCorp/EasyAdminBundle/issues/2089).

    The enum type is rendered as a choice (dropdown). If I don't select a new value and click save the process fails with the error: `The value you selected is not a valid choice.`

    If I do select a new option from the dropdown and when I create a new e

[2018-03-09 08:54] fre5h commented on #122
@laytoneverson Please check new `6.0.2` release

[2018-03-12 11:00] fre5h commented on #120
@enumag `5.3.0` and `6.1.0` released

[2018-03-12 11:00] #120 closed

[2018-03-15 20:35] stefandoorn opened #129 "Form validation fails when choices are integers"
I have this Type:

[code]

Usage in the form:

[code]

When using validation on it:

[code]

For some reason the initial save goes correctly, but when editing it gets a validation error (`Choice::NO_SUCH_CHOICE_ERROR` by the check on line 99 in `vendor/symfony/symfony/src/Symfony/Component/Validator/Constraints/ChoiceValidator.php`).

The submitted `$value` there is `string(1) "2"`, while the $cho

[2018-03-15 20:37] stefandoorn commented on #129
Seems introduced by https://github.com/fre5h/DoctrineEnumBundle/pull/112.

[2018-03-15 20:59] fre5h commented on #129
@stefandoorn What version of bundle do you use?

[2018-03-15 21:09] stefandoorn commented on #129
5.2.0 with Symfony 3.4.4.

[2018-03-16 07:55] stefandoorn commented on #129
Excuse me, Symfony 3.4.6.

[2018-03-16 08:09] fre5h commented on #129
@stefandoorn Do you really need integer values in ENUMS? Would you like to try
[code]

[2018-03-16 08:11] stefandoorn commented on #129
I'll try and let you know! I basically don't need integers (as it doesn't make that much sense in ENUM), but didn't think about that when creating it.

[2018-03-16 08:13] fre5h commented on #129
And if you do not need integeres then you can write next
[code]
I think it is more ENUM-style way

[2018-03-16 08:17] stefandoorn commented on #129
Yep. Internally it makes sense in this situation to have numeric values in the database, but they are perfectly fine to be strings instead of integers. Will try that first, but I think it will work.

[2018-03-16 09:01] stefandoorn commented on #129
Simply adjusting the integers to strings does not work, as arrays keys get casted to integer when they are numeric. I will go temporary for a less strict validation in (and go with the deprecation notice) and migrate to strings later. Thanks!

[2018-03-16 09:01] #129 closed

[2018-03-20 13:19] adrienlamotte commented on #87
Hello guys!
I have the same behavior here. Did you found a solution since then ?

[2018-04-10 16:44] spacetraveller commented on #87
Would also love a solution to this. Once this is fixed and out of the way, migrations will be perfect.

[2018-04-18 19:42] trappar opened #130 "Fix now invalid autowiring of ManagerRegistry instead of RegistryInterface"
After upgrading to [doctrine/DoctrineBundle 1.9.0](https://github.com/doctrine/DoctrineBundle/releases/tag/1.9.0) I'm getting the error:

`Cannot autowire service "Fresh\DoctrineEnumBundle\Form\EnumTypeGuesser": argument "$registry" of method "__construct()" references interface "Doctrine\Common\Persistence\ManagerRegistry" but no such service exists. You should maybe alias this interface to the e

[2018-04-20 20:33] fre5h commented on #130
@trappar Sorry, but 1.9 is too old version and is not supported anymore

[2018-04-20 21:12] trappar commented on #130
Please reread the issue. This has nothing to do with 1.9 of this bundle ;)

[2018-04-22 09:08] fre5h commented on #130
@trappar You are right. Sorry.
What version of DoctrineEnumBundle do you use? And also do you use doctrine/common library and what version?

[2018-06-01 10:43] fre5h opened #131 "Twig function to return array values of specific ENUM type"

[2018-06-02 09:06] fre5h commented on #122
Close this issue, because cannot reproduce it

[2018-06-02 09:06] #122 closed

[2018-06-02 09:21] #131 closed

[2018-06-02 09:50] #130 closed

[2018-06-02 09:51] fre5h commented on #130
@trappar Please check the tag `v6.2.1`

[2018-06-02 15:39] laytoneverson commented on #122
I can confirm this issue was resolved in the 6.0.2 release. I apologize I
never provided that feedback. I'm sorry if I wasted any of your time.

On Sat, Jun 2, 2018 at 3:06 AM Artem Henvald <notifications@github.com>
wrote:

--
Layton Everson
layton.everson@gmail.com
Skype: layton.everson
Mobile: (801) 638-9973

[2018-06-25 09:09] liogate commented on #94
Hi, this subject is old but I found an alternative to update enum in postgres using migration process.

[code]

Hope this can be helpful.

[2018-07-11 09:59] ln-e opened #134 "Redme's versions is incorrect"
Readme says that 5.3.* versions requires symfony >=3.2 =< 3.4, but actually it requires 3.4.*
[code]

[2018-07-11 11:15] fre5h commented on #134
@ln-e Thanks. I've fixed this in README

[2018-07-11 11:15] #134 closed

[2018-08-10 11:04] flaushi commented on #94
so in a migration, one could include

[code]

Would it be possible to do this automatically when a migration is created (via diff)?

[2018-09-18 15:48] flaushi opened #135 "Include enum changes in doctrine migration"
Hi!

Suppose I add or remove an option from my enum.

When creating a doctrine migration, this change is not included in the migration. Do I have to do this manually?
Example:
before
[code]
after:
[code]
Then a original migration would not change anything.
What would be necessary is:

for postgres:
[code]
for MS SQL Server:
[code]
However, I would additionally have to find all usages of the enum i

[2018-09-22 09:48] dehy opened #136 ""Not a valid choice" on partial forms"
Hi there!

It seems DoctrineEnumBundle's @DoctrineAssert does not validate correctly form fields that are not included in partial forms of an entity.

Imagine you have a `Player` entity with `name` and `position` properties. Creating and updating such player with a full form (with name and position fields) works correctly. But if I create a "partial form" with only the name field, the validation f

[2018-09-25 09:52] keoozDan opened #137 "How to do Multiple Choice ?"
Is it possible to do a multiple Choice ?

[2018-09-25 09:58] fre5h commented on #137
Hi @keoozDan ENUM type supports only saving one value from the list of allowed. To set multiple values you have to use native type SET. But is not supported by this bundle

[2018-09-30 11:02] #137 closed

[2018-10-02 09:34] dehy commented on #136
So in fact it seems to be a string/int with strict checking problem. When the field is visible, the value during validation is an int. When invisible (hidden) or non present, the value is a string. (in Validator/Constraints/EnumValidator.php)

If I add a string to int cast just before the `parent::validate(...)`, if works. But this is a quick fix
[code]

[2018-10-15 09:49] thuijzer commented on #87
It this related to a collation check?
Every diff all my CHAR fields are altered and I notice that the `down` function will reset the collation for those fields.

For example:
[code]

MySQL 5.7.19, default collation: utf8mb4_unicode_ci
Doctrine migrations: 1.8.1

[2018-10-17 18:42] ph-il commented on #135
https://github.com/fre5h/DoctrineEnumBundle/blob/master/Resources/docs/hook_for_doctrine_migrations.md

[2018-10-18 19:14] flaushi commented on #135
Thanks a lot for this hint, however it only works for MySQL. In postgres and mssql, this check is realized in a different way: there is a named _check_ or _constraint_ (c.f. `action_log_entry_action_check` see above), and the migration would have to look up this name, drop the check and then create the new one.

[2019-02-28 09:39] NafaaAzaiez opened #143 "e migration type enum"

[2019-02-28 09:40] #143 closed

[2019-03-12 10:57] alexislefebvre opened #144 "Missing declaration in bundles.php?"
I installed this bundle today with Symfony 4.2.4, I followed these steps: https://github.com/fre5h/DoctrineEnumBundle/blob/master/Resources/docs/example_of_using.md

Then I followed https://github.com/fre5h/DoctrineEnumBundle/blob/master/Resources/docs/building_the_form.md

The guesser didn't work, I had to declare `choices` manually.

The guesser worked once I added `Fresh\DoctrineEnumBundle\Fres

[2019-03-12 11:48] fre5h commented on #144
@alexislefebvre Hi. If you installed bundle via `composer req fresh/doctrine-enum-bundle` it must be added to the `bundles.php` automatically. It is behavior of Symfony Flex.

Yes, to enable all features of bundle it must be enabled in `bundles.php`.

To reproduce this bug you can remove bundle and then install it again via `composer req fresh/doctrine-enum-bundle` and check if it added to `bundle

[2019-03-12 12:00] fre5h commented on #144
Possible cause could be, that you didn't execute recipe for this bundle.
[code]

[2019-03-12 13:03] alexislefebvre commented on #144
Here is the full output of the `require`:

[code]

Maybe the fact that I use composer in Docker removes the prompt?

[2019-03-12 13:08] fre5h commented on #144
Maybe by default `composer require` doesn't install *contrib-recipes*
Do you have this section in your `composer.json`?
[code]

[2019-03-12 13:12] alexislefebvre commented on #144
If I remove the `-T` flag of `docker-compose`, it works:

[code]

It looks like it's related to the _interactivity_: https://github.com/symfony/flex/issues/285

---

Can I open a PR in order to add a note about adding declaring the Bundle if it's not already done?

[2019-03-12 13:54] fre5h commented on #144
I've updated README https://github.com/fre5h/DoctrineEnumBundle#check-the-configbundlesphp-file
Thank you for reporting this issue

[2019-03-12 13:54] #144 closed

[2019-03-12 14:04] alexislefebvre commented on #144
Great, thanks!

[2019-03-14 10:11] jorenvh1 commented on #136
When will this be merged? :)

[2019-03-20 20:20] Daisuke-sama opened #145 "Invalid value for ENUM"
Hi,
My ENUM class basically is shaped in a next way:
[code]
And these works fine. But types which just extended - aren't when I try to load fixtures - I constantly receive (not for all) but for specific (and every time unexpectedly selected) value the error with always different data for the same field:

etc.

Why every time can the value so differ?

[2019-03-20 20:28] fre5h commented on #145
@Daisuke-sama Hi. Sorry, but too less details. You wrote that you load fixtures, maybe problem is there, in the way how you load fixtures. Because I don't imagine how custom doctrine type can affect fixture loading. Need more details. Full code for your VehicleColorType and your fixture loader

[2019-03-20 20:36] Daisuke-sama commented on #145
yes, sure, the code is below
[code]
and a part of code from the fixture
[code]

[2019-03-21 07:47] fre5h commented on #145
Hi. I've investigated your case. It works as it should work. You have public constants in your `VehicleColorType`. But also your class extends `AbstractEnumType`, which extends `Doctrine\DBAL\Types\Type`. Class `Type` has its own public constants, they are also available in your `VehicleColorType` as inherited. So it is not a surprise that you get them randomly in your script.

All this public con

[2019-03-21 08:30] #145 closed

[2019-03-21 08:33] fre5h commented on #145
@Daisuke-sama  I've added a new method `getRandomValue` it is available in `v.6.3.0`. It might be useful for you

[2019-03-21 08:42] fre5h commented on #145
And one more example how your function can be rewritten

[code]

[2019-03-21 08:51] fre5h commented on #92
Because custom enum type extends `\Doctrine\DBAL\Types\Type` it also extends all public constants from that class. So when we use reflection to get all constants we also get all from the parent class.
To get constants only from the child enum type, we need to make a diff. Simple example

[code]

[2019-03-21 10:01] Daisuke-sama commented on #145
oh, yeah, you are completely right. My carelessness. Thank you very much. I will be more accurate hereinafter!

[2019-06-21 21:05] wbrframe commented on #135
At the database level, all constraints are stored in the context of a table, not a specific field.
Get all constraints of type CHECK can be next SQL:

[code]
In the results, you can see the real name of the constraint for your column.
This will allow us to write the correct migration.

[code]

Also, don't forget to implement down method for new migration.
Alters must contain the previous type list

[2019-11-25 13:53] jaikdean opened #155 "doctrine/doctrine-bundle 2.0.0 support"
From reading the upgrade guide in `doctrine/doctrine-bundle`, updating this package to support 2.0.0 should be straightforward.

[2019-11-25 13:58] jaikdean commented on #155
See #156

[2019-11-25 16:08] fre5h commented on #155
fixed

[2019-11-25 16:08] #155 closed

[2019-12-03 21:49] ls-philippe-gamache opened #159 "Doesn't work with twig 3.0"
Can install if twig 3.0 is used.

$ composer require fresh/doctrine-enum-bundle
Using version ^6.6 for fresh/doctrine-enum-bundle
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Restricting packages listed in "symfony/symfony" to "^4.4"
Your requirements could not be resolved to an installable set of packages.

[2019-12-04 10:37] #159 closed

[2019-12-04 10:39] fre5h commented on #159
@ls-philippe-gamache Fixed. Please check the `v6.6.2`

[2020-01-14 13:42] nuil commented on #87
Hi,
I'm also having this issue. Any news about it?

[2020-05-29 08:52] jaikdean opened #166 "Support doctrine/common 3"
The [release notes](https://github.com/doctrine/common/releases/tag/3.0.0) for `doctrine/common` 3.0.0 suggest it's easy to support both 2.x and 3.0.

[2020-05-31 08:58] #166 closed

[2020-07-15 19:58] codepushr commented on #87
Same... any solutions yet?

[2020-07-20 11:39] pculka commented on #87
in the same boat. any ideas?

[2020-07-20 13:51] fre5h commented on #102
In EasyAdminBundle v3
[code]

[2020-07-20 13:51] #102 closed

[2020-07-20 13:57] fre5h commented on #42
Isn't actual

[2020-07-20 13:57] #42 closed

[2020-07-23 08:14] #91 closed

[2020-07-27 09:53] Gonzalo1987 commented on #87
Same problem here

[2020-08-25 09:34] Gemorroj opened #168 "fresh/doctrine-enum-bundle 6.6 - compability with doctrine/doctrine-bundle 2.1.1"
[code]

[2020-08-25 09:37] Gemorroj commented on #168
https://github.com/sensiolabs/SensioFrameworkExtraBundle/issues/690

[2020-08-25 12:01] fre5h commented on #168
@Gemorroj Please check a new version `v6.6.3`

[2020-08-25 12:01] #168 closed

[2020-09-23 14:46] TZK- opened #173 "Invalid value "" for ENUM"
I have an error when trying to set a value in my entity which is not part of my enum.
In my entity, I set a validation constraint to ensure that values must one of the enum.

Howewer, It always throws InvalidArgumentException when it calls AbstractEnumType::convertToDatabaseValue() after I try to insert a new record in my database with a value which is not in the enum.

I do not really understand

[2020-09-24 07:18] fre5h commented on #173
Have you added the next line into your entity?

[code]

I see it is missed in your example. But maybe you deleted it to make your code snippet shorter. Anyway I need to clarify, that you don't forget to include this validation constraint for you entity.

[2020-09-24 08:02] TZK- commented on #173
Indeed, I have correctly imported the right constraint and missed to add it in my previous post after cleaning up a little bit my entity. (I edited the previous message to include the missing parts)

[2020-09-24 08:14] fre5h commented on #173
Please add config for Doctrine in your project

[2020-09-24 08:39] TZK- commented on #173
[code]

The type is working well when bound to my entity field since it generate a good SQL migration.

[2020-09-24 08:58] TZK- commented on #173
And if override the method `convertToDatabaseValue` in my Enum:

[code]

It works as expected and my validation constraint is well executed.

[2020-09-24 09:13] fre5h commented on #173
Can you debug `EnumValidator` if it is executed on validation? From your words, looks like validator is not being called.

[2020-09-24 09:27] TZK- commented on #173
The validation process happen after  the execution of `Doctrine\DBAL\Types::convertToDatabaseValue`.

So if the method throws an exception, which is the case in the implementation of `Fresh\DoctrineEnumBundle\DBAL\Types::convertToDatabaseValue()` it will stop everything and not try to validate anything.

It is the same for all validations rules bound to a field which is an ORM Column of the type `

[2020-09-24 13:43] fre5h commented on #173
Very strange. I've checked your cases in my code. I cannot reproduce it. If I set a wrong value, it is being catched by validator. I never reach the `convertToDatabaseValue()` method with wrong value.
What version of Doctrine and EnumBundle do you use?

[2020-09-24 13:59] TZK- commented on #173
- doctrine/orm: v2.7.3
- fresh/doctrine-enum-bundle: v6.6.2

I'm using API Platform on top of that, which could be the cause...
- api-platform/api-pack: v1.2.2

I don't know how it is handled internally when creating entities through API Platform endpoint. Maybe it calls the type class before the validation.

ATM, my 'fix' by overriding the  `convertToDatabaseValue()` method suits me but in which

[2020-09-24 17:41] mi6th opened #174 "Can't install with twig/twig 3.0.5 [Symfony 4.4, DoctrineEnumBundle 6.6]"
Installation of DoctrineEnumBundle 6.6.* for Symfony 4.4.13 fails:

[code]

May be related to #159

[2020-09-25 07:40] fre5h commented on #174
@mi6th You use doctrine/common v3, right?

[2020-09-25 09:04] fre5h commented on #174
@mi6th Please check a fresh release `v6.6.4`

[2020-09-25 10:18] mi6th commented on #174
Yes, I do: **doctrine/common:3.0.2**

[2020-09-25 10:29] mi6th commented on #174
Installation successful!

[2020-09-25 10:29] #174 closed

[2020-09-25 13:08] fre5h commented on #173
@TZK- I have to reproduce this bug with api-platform/api-pack. Right now I cannot reproduce it on my own projects

[2020-10-30 06:04] koninka opened #176 "Hook for doctrine migration as command"
As described in https://github.com/fre5h/DoctrineEnumBundle/blob/master/Resources/docs/hook_for_doctrine_migrations.md
we can update enum column by deleting comment. But I think it's complicated for developers always accessing DB and delete comments.

What do you think about console command for deleting comments for specific enum such as `fresh:doctrine-enum:drop-comment SourceType`, where SourceT

[2020-10-30 06:16] fre5h commented on #176
Good idea! I will consider it

[2020-11-05 22:44] nkl90 opened #177 "How can I translate the choices?"
Hello. We use your bundle extensively in our project. But we had the task of translating the choices labels. We cannot inject the `TranslatorInterface` because the parent constructor in `Doctrine\DBAL\Types\Type` is final.

How can I do this as correctly as possible?

[2020-11-06 09:14] fre5h commented on #177
Where do you need translations? In forms? Or in json response in case of RESTful API?

[2020-11-09 07:43] fre5h commented on #177
@nkl90 ping

[2020-11-12 03:48] nkl90 commented on #177
We need translate choices in Form, Entities and in Twig templates. For example we have something Entity with enum param of ratign type:
[code]
And in entty we create method:

[code]
When we rendering this entity in twig, we do this:
[code]

In form we dot this:
[code]

[2020-11-12 07:16] fre5h commented on #177
OK. You can do this in the next way. I also do like this always

For example, this is your ENUM class

[code]

In your TWIG templates don't forget to add `|trans` filter. Because everything you want to be translated, should be processed by translator. And the ENUM class is not the place where translation should be done. ENUM is the responsibility of Model, and translations are the responsibility o

[2020-11-12 13:55] deansoffer commented on #87
anyone solved it ?

[2020-11-12 14:06] adriankirchner commented on #87
@deansoffer didn't solve the root cause but in my case defining a default value stops the ongoing generation of migrations

not working:
[code]

working:
[code]

[code]

`"doctrine/migrations": 3.0.1`

[2020-11-13 06:20] Ezar101 opened #178 "Provide a twig test to test if a value is readable before applying the readable_enum filter"
I did this in a project based on the **findOccurences()** function of the **ReadableEnumValueTwigExtension** class, but I don't know if I would have time to make a contribution.

[https://gist.github.com/Ezar101/02bb272eeeeee3a3818e8272606f3011](https://gist.github.com/Ezar101/02bb272eeeeee3a3818e8272606f3011)

Thank You

[2020-11-17 21:14] fre5h commented on #177
@nkl90 Was it helpful?

[2020-11-21 07:33] ADmad commented on #177
@fre5h Will following your suggestion translate the choices list returned by `HomeworkLevelEnumType::getChoices()`?

[2020-11-23 10:26] fre5h commented on #177
@ADmad yes

[2021-02-07 20:49] #177 closed

[2021-03-17 07:11] COil commented on #173
Hi, I have the same problem with API-Platform 2.6. When filtering, if the value in not correct, it throws an error instead of returning a validation error.

[2021-03-19 22:39] colinodell opened #182 "Integer constants not fully supported?"
Based on commit 98a34bb31bafb0cbb1068a9f7dffdbfe30762abf and [`NumericType.php`](https://github.com/fre5h/DoctrineEnumBundle/blob/master/Tests/Fixtures/DBAL/Types/NumericType.php) it seems like enums with integer constants/values should be supported.  However, several methods exist in `AbstractEnumType` which only accept `string` values, like `assertValidChoice()` and `getReadableValue()`.

Can yo

[2021-03-20 08:44] fre5h commented on #182
Yes, integers are planned to be supported. So those methods, which accepts only `string` should be modified to accept `mixed`

[2021-04-03 16:08] #182 closed

[2021-04-03 16:09] fre5h commented on #182
@colinodell In `v7.1.3` it is fixed

[2021-04-23 19:11] ste93cry opened #187 "Compatibility issue between this and the `getsentry/sentry-symfony` bundle"
In getsentry/sentry-symfony#485, thanks to @adrienfr, we found out an incompatibility between this bundle and ours. We have two needs: the first one is to trace the performance of the DBAL for the [performance monitor](https://docs.sentry.io/product/performance/) feature provided by Sentry, and the second is that to log the errors we replace the Symfony error handler with our own. For the tracing

[2021-04-24 07:22] fre5h commented on #187
@ste93cry Thanks for explanation. I will take a look

[2021-04-24 17:25] #187 closed

[2021-04-24 17:40] fre5h commented on #187
@ste93cry Release`7.2.0` is ready. In this release adding mapping types is rewritten via compiler pass

[2021-04-24 17:43] ste93cry commented on #187
Thank you for such a quick fix. Hopefully, @adrienfr will solve his problem by updating 👍

[2021-04-24 17:57] ste93cry commented on #187
Thank you for such a quick fix!

[2021-04-29 07:25] #176 closed

[2021-04-29 07:26] fre5h commented on #176
@koninka Done in `v7.3.0`
docs https://github.com/fre5h/DoctrineEnumBundle/blob/main/Resources/docs/hook_for_doctrine_migrations.md#console-command-for-dropping-comments

[2021-04-29 09:28] #89 closed

[2021-04-29 09:30] fre5h commented on #92
After release on PHP 8.1 will be used native ENUM classes in my bundle

[2021-04-29 09:30] #92 closed

[2021-04-29 09:33] fre5h commented on #93
\Fresh\DoctrineEnumBundle\FreshDoctrineEnumBundle was rewritten, `boot` method was replaced with complier pass, should work now

[2021-04-29 09:33] #93 closed

[2021-04-29 09:35] fre5h commented on #135
To drop comments use this command `doctrine:enum:drop-comment CustomType`

[2021-04-29 09:58] fre5h commented on #136
@jorenvh1 do you have the same problem? what is the version of bundle and doctrine?

[2021-05-30 17:21] michnovka commented on #87
@adriankirchner well such random behavior screams BUG. GIven how ENUMs are common types in DB, I wonder why this has not been addressed yet? I still have this bug with `doctrine/doctrine-migrations-bundle 3.1.1`

[2021-06-10 14:18] AlexandruGG opened #195 "Support in phpstan-doctrine"
Hello!

I've been using this library for a little bit and I recently noticed that it doesn't have support in [phpstan-doctrine](https://github.com/phpstan/phpstan-doctrine). In other words, PHPStan doesn't know the types for the database and PHP values that are allowed on an entity that uses an enum property.

[code]

Thankfully, PHPStan is quite smart if type hints are used in `convertToDatabaseV

[2021-06-10 14:48] fre5h commented on #195
@AlexandruGG Can you create a drast PR, so we can discuss these return types in the code?
I didn't add support for mixed enums. Right now string and int values are supported. This one https://github.com/fre5h/DoctrineEnumBundle/blob/main/Tests/Fixtures/DBAL/Types/NumericType.php is used in tests.

[2021-06-12 15:57] #195 closed

[2021-06-14 10:06] kirya-dev commented on #87
Problem SOLVED.
[code]

[code]

[2021-06-30 11:00] AlexandruGG opened #197 "EnumDropCommentCommand does not work on MySQL"
Hello!

I'm trying the new addition command to drop comments mentioned here: https://github.com/fre5h/DoctrineEnumBundle/blob/main/Resources/docs/hook_for_doctrine_migrations.md#console-command-for-dropping-comments. However, it doesn't look like the SQL generated is valid for MySQL (I'm using 5.7 but I suspect the same holds true for 8.0).

[code]

I can see this SQL is generated by Doctrine [her

[2021-07-28 07:03] xylipei opened #198 "Attempted to load class "DashboardAccountRoleType;" from namespace "App\DBAL\Types". Did you forget a "use" statement for another namespace?"
Attempted to load class "DashboardAccountRoleType;" from namespace "App\DBAL\Types".
Did you forget a "use" statement for another namespace?

[2021-07-28 07:42] fre5h commented on #198
Hi. I need to see your code, to find the reason

[2021-07-28 07:56] xylipei commented on #198
doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '13'

        types:
            DashboardAccountRoleType: App\DBAL\Types\DashboardAccountRoleType;

namespace App\DBAL\Types;

use Fresh\DoctrineEnumBundle\DBAL\Types\AbstractEnumT

[2021-07-28 07:58] fre5h commented on #198
Remove the `;`
[code]

[code]

[2021-07-28 08:01] xylipei commented on #198
thanks

[2021-07-28 08:01] #198 closed

[2021-07-30 07:43] fre5h commented on #197
Hi. Sorry for the late answer. Looks like it is a bug in Doctrine.

My console command gets platform from the config

[code]

So the SQL statement comes from Doctrine

And then

[code]

[2021-07-31 03:05] 15279974667 opened #199 "some problem"
hey, I got some problem in using.
when I execute the migrations:diff command
![image](https://user-images.githubusercontent.com/42374059/127727034-495000a8-b322-4e33-9d46-bddd09dcf738.png)

this is my codes
![image](https://user-images.githubusercontent.com/42374059/127726782-b3232829-30ab-420e-a6b2-8df6448aefc4.png)
![image](https://user-images.githubusercontent.com/42374059/127727082-77d9f195-fa

[2021-07-31 03:10] 15279974667 commented on #199
when I execute the migrations:diff command
![image](https://user-images.githubusercontent.com/42374059/127726977-ab21c8fe-1448-4d5f-a13d-224d1eeabcd0.png)

[2021-07-31 04:51] #199 closed

[2021-08-05 16:10] AlexandruGG commented on #197
@fre5h hey, I've looked into this some more.

I can see the statement comes from Doctrine - I also mention this in the description.

The issue here is that I don't think it's correct to use `AbstractPlatform::getCommentOnColumnSQL` for MySQL. If you look at where it's used you'll notice `MySQLPlatform` is not in there:

<img width="1249" alt="Screenshot 2021-08-05 at 16 59 29" src="https://user-im

[2021-08-06 07:41] IronXtreme commented on #87
Thanks @kyria-dev, your solution is working for me

[2021-09-14 18:07] colinodell opened #201 "PHPStan type regression in v7.3.3"
Up through v7.3.2, we've been using enum types where the constants are integer values and the readable values are human-friendly string labels.  A good example of this would be something like HTTP status codes where we want to store integer code in the codebase but provide a human-friendly string to the users. These types of enums would pass phpstan analysis without issue.

Our phpstan checks are

[2021-09-15 06:32] #201 closed

[2021-11-16 12:55] nkl90 commented on #135
@fre5h, thank you very much for your work! And this command:)

[2021-11-16 13:00] nkl90 commented on #177
@fre5h yes! Thanks. That helped for me

[2021-11-25 13:51] Gemorroj opened #205 "incorrect release 7.3.5"
version 7.3.5 is identical to 7.3.4
see
https://github.com/fre5h/DoctrineEnumBundle/tree/v7.3.4
https://github.com/fre5h/DoctrineEnumBundle/tree/v7.3.5

the commit https://github.com/fre5h/DoctrineEnumBundle/commit/6278addf7907924f77d2ea9a7eb85269b07cd3b5 is not included to 7.3.5 release

[2021-11-25 14:06] fre5h commented on #205
@Gemorroj thanks. 7.3.6 is ready

[2021-11-25 14:06] #205 closed

[2022-01-24 11:53] Gemorroj opened #213 "Cant use enum as annotation"
Hi. release  [v7.5.0](https://github.com/fre5h/DoctrineEnumBundle/releases/tag/v7.5.0)

[code]

[code]

but there is no such error in release [v7.4.0](https://github.com/fre5h/DoctrineEnumBundle/releases/tag/v7.4.0)

[2022-01-24 12:30] fre5h commented on #213
@Gemorroj
Two possible solutions. Use `7.4.0` because it is the last version which supports annotations.
Version `7.5.0` uses attributes, so you can change it to

[code]

[2022-01-24 13:07] Gemorroj commented on #213
I think we should support both variants (attribute/annotation) in current branches. If we remove support annotation, we should make new major branch. Like 9.x

[2022-01-24 13:32] fre5h commented on #213
OK, I will rethink it

[2022-01-25 21:23] craigh commented on #213
I agree. Changing major dependency requirements (e.g. php7 vs. php 8+) should require a major version change in your library.

[2022-01-26 08:26] fre5h commented on #213
I was thinking about correct restoring. So in 7.5 and 8.1 Enum constraint as annotation will be restored, but will be removed in 9.0.
Enum as attribute will be kept in both branches but renamed into EnumType. So you can still use old variant

[code]
or switch to the new one
[code]

Two classes were introduced because it would be hard and dirty to support annotation and attribute processing in one

[2022-01-26 08:26] #213 closed

[2022-01-28 17:33] ddebin opened #218 "Psalm error `NonInvariantDocblockPropertyType`"
Psalm made a design choice that class-level templates and static properties/method should not mix.
https://github.com/vimeo/psalm/issues/7507
https://psalm.dev/r/f5f3b15557

With current annotations in `AbstractEnumType`, Psalm throw an error
[code]

With code
[code]

[2022-01-28 18:39] fre5h commented on #218
@ddebin Sorry, but this bundle doesn't use Psalm, it uses phpstan. I won't support both static analyzers. If you can create non-conflicted fix, I would consider it.

[2022-04-26 13:05] craigh commented on #197
I just discovered this bug for MariaDB also (which I know is essentially MySQL). but thought it was worth the mention. Any workaround?

[2022-04-27 07:44] AlexandruGG commented on #197
My workaround was to just write the migration query manually whenever an enum's values needed to change (which should not happen often ideally!).

For example if we have an enum **BasketballPositionType**: `ENUM('PG', 'SG', 'SF', 'PF')` and we want to add the `C` value:

[code]

My other recommendation would be to get on PHP 8.1 and Doctrine >= 2.11 because it supports the new native PHP Enum type

[2022-06-07 08:44] #218 closed

[2022-06-07 09:49] #136 closed

[2022-06-10 08:45] innophilia-thomas commented on #31
this error still occurs for symfony 6.1 / postgres 14.2.
I used a workaround:

1. Drop the column entirely
2. migrate
3. recreate it as enum
4. migrate

[2022-06-14 14:07] mzurawek opened #222 "Issues with types naming in YAML configuration after upgrade to v9.0"
When upgrading bundle (v8.1.2 -> v9.0.0) I had to change configuration in doctrine.yaml.

Before:
[code]
This produced error: `Unknown type BasketballPositionType`

What finally worked (full class path instead of just class name):
[code]

How entity looks like:
[code]

[2022-06-14 15:18] fre5h commented on #222
@mzurawek I tried to reproduce, but cannot. Check the comment for this column in DB. Should be '(DC2Type:BasketballPositionType)'

[2022-06-14 19:20] mzurawek commented on #222
Yes, there is the right comment.

I've done the clean install of Symfony 6.1, done configuration according to:
https://github.com/fre5h/DoctrineEnumBundle/blob/main/Resources/docs/usage_example.md
And even when starting `php bin/console make:migration` I've got:
In Exception.php line 120:
[code]

Changing doctrine.yaml configuration to:
[code]
solves the issue, but the comment on the field generat

[2022-08-27 09:10] dehy commented on #222
I have the same problem: Using `#[ORM\Column(type: BasketballPositionType::class, nullable: false)]` as documentation says, it does not work.
Using `#[ORM\Column(type: "BasketballPositionType", nullable: false)]` works.

v9.0.3

[2022-08-27 11:25] fre5h commented on #222
Found the cause. The error was in docs example. I've updated the doc. So now the correct syntax is
[code]
[code]

Alternatively you can use next:
[code]
[code]

[2022-08-27 11:27] fre5h commented on #222
In future I plan to add autoregistration of enum types. So it is not be required to add custom enum types into doctrine.dbal.types section. But it is not implemented yet. So for now I left two variants of configuration.

[2022-08-27 11:27] #222 closed

[2022-09-06 21:54] javaDeveloperKid opened #225 "Where is changelog?"
I can't find any changelog file, any upgrade file. Release notes are very little. This package has 9 major versions so there must have been at least 9 BC breaks. How a user can know what's changed between major versions?

[2022-09-07 06:07] fre5h commented on #225
@javaDeveloperKid Yes, you are right, it is missed. Because the main functionality wasn't changed since beginning. The only changes that were released in each major version were support of new major Symfony version.

[2022-09-07 06:36] fre5h commented on #225
If you use version 8, you should see deprecations. In 9 version these deprecations are removed
https://github.com/fre5h/DoctrineEnumBundle/releases/tag/v9.0.0
Do you see any deprecation on running tests or in PhpStorm (if you use it)?

[2022-11-17 20:04] craigh opened #226 "How to use guessing with DTO instead of Entity?"
I'm trying to use the FormType guessing feature of this bundle, but with a DTO and not an Entity. Is this possible? I see the guessing uses the `Type` - which I assume is from the `@ORM\Column(type="MyCoolEnum")` declaration.

https://github.com/fre5h/DoctrineEnumBundle/blob/4448ef6abd4bcdeee6811d11a932315754d8f0d9/Form/EnumTypeGuesser.php#L68

I guess Symfony uses the [validation constraints inst

[2022-11-17 20:57] fre5h commented on #226
@craigh do you get some error? if yes, then please write it here and also show me your form type.

[2022-11-17 21:03] craigh commented on #226
Hello!

No, I do receive any error, the guessing just fails so the input is displayed as a simple text box.

The form generation is dynamic and complicated, but in the end it is simply this:

`$builder->add($field->name, $field->type, $options);`

where:
[code]

As I said, the form data is a DTO instead of an Entity. So I have tried various versions of attributes in the DTO definition:

[code]

[c

[2022-11-17 21:04] craigh commented on #226
I am using the same Enum in a 'regular' form and it works fine there. So the Enum is setup properly when using an Entity-backed form.

[2022-11-17 21:15] fre5h commented on #226
It's not possible to use form guesser for DTOs now. Because

[code]
Enum Guesser extends Doctrine ORM Guesser, so it expects the mapped entity. To do what you want is needed a new Guesser, which will does somehow detection from any Plain PHP Class, not only from entities.

[2022-11-17 21:21] craigh commented on #226
Thank you, this was my assumption as well. I was hoping you might be able to extend Symfony's Validation guesser to add Enum types as well. I guess this goes in as a feature request.

thanks!

[2022-11-18 15:31] craigh commented on #226
Here is something I hacked together. You could clean it up and add it to the bundle.

[code]
Config:
[code]